//-------------- sp --------------------
.media-news {
  margin-bottom: 15px;
  h5 {
    background-color: $color_gray;
    display: inline-block;
    padding: calculateRem(5px) calculateRem(15px);
    color: $color_red;
    margin-bottom: calculateRem(10px);
    font-weight: 600;
  }
  &.type-02 {
    h5 {
      display: block;
      background-color: transparent;
      color: $color_base;
      padding: 0;
      font-size: 20px;
    }
    .d-flex {
      margin-top: 35px;
    }
  }
}
.box {
.list-infos {
  li {
    display: flex;
    align-items: flex-start;
    strong {
      display: flex;
    }
    span {
      flex: 1;
    }
  }
}
}
.block-video {
a  {
  position: relative;
  &:after {
    content: url("../images/s-ic-video_1.png");
    @include posCenter();
    z-index: 9;
  }
}
}
.box-content--float {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .thumbnail {
    float: right;
    margin-left: 25px;
    margin-bottom: 10px;
    width: 60%;
  }
  .text {
    text-align: justify;
  }
  p + p {
    margin-top: 10px;
  }
}

.template-15 {
  .row {
    > div {
      &:nth-child(2n+2) {
        .box-content--float {
          .thumbnail {
            float: left;
            margin-right: 25px;
            margin-left: 0;
          }
        }
      }
      &:not(:last-child) {
        .box-content {
          padding-bottom: 30px;
          margin-bottom: 30px !important;
          position: relative;
          &:after {
            content: "";
            width: 50%;
            height: 2px;
            background-color: $color_red;
            @include posCenterX();
            top: 100%;
          }
        }
      }
    }
  }
}
@include bp('sp') {
  .mv-text .jumbotron h2 {
    font-size: 3.5rem;
  }
}
@include bp(0,600px) {
  span.badge.badge-pill.py-3.px-5.bg-gradient.text-white {
    padding: 10px 15px !important;
    font-size: 12px;
}

.box-content--float .thumbnail {
  width: 50%;
}
}