.card {
    .card-title {
        font-weight: bold;
        color: $color_base;
    }
    &-05 {
        .card-title {
            min-height: 4.2rem;
        }
    }
    &-mail {
      border: 2px solid #cccccc;
      position: relative;
      .form-control {
        height: 40px;
      }
      .icon-email {
        position: absolute;
        top: 0;
        left: 50%;
        margin-top: -20px;
        margin-left: -20px;
      }
      h3 {
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
      }
    }
    &.card-about {
      background-color: transparent;
      text-align: center;
      padding-top: 8rem;
      padding-bottom: 8rem;
      transition: all 0.5s;
      .thumbnail {
        width: 80%;
        max-width: calculateRem(300px);
        margin: 0 auto;
        transition: all 0.5s;
      }
      .card-name {
        font-size: 20px;
        font-weight: bold;
        transition: all 0.5s;
      }
      .card-text {
        font-size: 13px;
        font-weight: bold;
        color: $color_red;
        transition: all 0.5s;
      }
    }
    &.card-contact {
      tr {
        >td {
          vertical-align: middle;
          strong {
            font-weight: 600;
          }
        }
      }
      .fa-map-marker {
        font-size: 20px;
      }
    }
}
#sticky-sidebar {
  .sticky-top {
    top: 100px;
    z-index: 99;
  }
}
.section-slider-about{  
      background: #F3F1EF url('../images/icon/about-deco-01.png') right bottom no-repeat;
      padding-top: 100px;
      padding-bottom: 100px;
      background-size: 40%;
}
@include bp('sp') {    
  .card-05 .card-title {
    min-height: 0;
  }
  .card-01 {
    margin-bottom: 0;
    .card-text {
      margin-bottom: calculateRem(32px);
    }
  }
}