.page-link:focus {
    box-shadow: none;
}
.upload-btn {
    label,
    &:hover {
        cursor: pointer;
    }
}
button:focus {
    outline: none;
    outline: none;
}
.thumbnail a {
    display: block;
}

.bg-gray {
    background-color: #dddddd;
}
.text-gray {
    color: $color_base;
}
.breadcrumb-01 {
    padding-bottom: 10px;
    .breadcrumb {
        background-color: $color_red;
        margin-bottom: 0;
        li {
            a {
                text-transform: uppercase;
                font-weight: 600;
                color: #fff;
            }
            &:last-child {
                a {
                    pointer-events: none;
                }
            }
        }
        .breadcrumb-item + .breadcrumb-item::before {
            content: "";
            width: 10px;
            height: 13px;
            background: url(../images/icon/ic-next-w.png) no-repeat;
            background-size: contain;
            vertical-align: middle;
            margin: 0 5px;
        }
    }
}
.rounded-lg {
    border-radius: 8px;
}
.hr-red {
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    border-top: 2px solid $color_red;
}
@include bp("sp") {
    .btn.gradien-red {
        font-size: calculateRem(19px);
    }
    .title-group {
        margin-bottom: 2rem;
    }
    .form-01 {
        .title {
            font-size: 25px;
            color: $color_red;
            margin-bottom: 40px;
        }
        label {
            font-size: 16px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }
        .form-group.line {
            label {
                font-size: 16px;
                line-height: 1.4;
                width: 100%;
                position: relative;
                &::after {
                    content: none !important;
                }
            }
            &::after {
                content: none !important;
            }
        }
        textarea.form-control {
            border: 1px solid #cccccc;
            height: auto;
            border-radius: 0;
        }
        .form-control {
          font-size: 16px !important;
          line-height: 1.4;
        }
        .form-group-upload {
          margin-top: 30px;
            .col-sm-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .upload-btn {
                background: none;
                padding: 0;
                margin-bottom: 30px;
                label {
                    border: 1px solid #cccccc;
                    font-size: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .btn {
          height: 42px;
          width: 100%;
          font-size: 20px;
          text-transform: uppercase;
          max-width: 200px;
          margin: auto;
          display: block;
      }
    }
}
article {
    p {
        margin-bottom: calculateRem(15px);
        font-size: 16px;
    }
    h2 {
        margin-bottom: calculateRem(40px);
        font-size: $font_size_h2;
    }
    h3 {
        margin-bottom: calculateRem(35px);
        font-size: $font_size_h3;
    }
    h4 {
        margin-bottom: calculateRem(30px);
        font-size: $font_size_h4;
    }
    h5 {
        margin-bottom: calculateRem(25px);
        font-size: $font_size_h5;
    }
    h6 {
        margin-bottom: calculateRem(20px);
    }
    img {
        width: 100%;
    }
}
.scala2x {
    transform: scale(2);
}
.ic-right-red-small {
    width: 20px;
    height: 20px;
    position: relative;
    background: url('../images/icon/ic-triang-r.png') no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: inline-block;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #c52527 inset;
  transition: background-color 5000s ease-in-out 0s;
  font-size: calculateRem(19px);
}
.video-background {position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-foreground,
.video-background iframe {
    position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.btn {
    &-orange {
        background-color: orangered;
        height: 40px;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
}
.fz16 {
    font-size: 16px;
}
.w-60 {
    width: 60px;
}
strong {
    font-weight: 600;
}