/*! CSS Used from: Embedded */

body {
  overflow-x: hidden;
}

#detail-project {
  p {
    text-decoration: none;
    line-height: 1.6;
  }
  div,
  h2,
  p {
    font-family: Arial, Helvetica, sans-serif;
  }
  div,
  h2,
  p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
  }
  * {
    -webkit-font-smoothing: antialiased;
  }
  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :focus {
    outline: 0;
    border: none;
  }
  p {
    font-weight: 400;
  }
  h2 {
    font-weight: 400;
    line-height: 1.4;
  }
  p {
    font-size: 16px;
    -webkit-text-size-adjust: none;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    cursor: pointer;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  @media screen and (max-width: 1100px) {
    ::-webkit-scrollbar {
      width: 0;
    }
  }

  .title-2,
  .title-2 h2 {
    text-align: center;
  }
  .title-2 h2 {
    margin: 0 auto;
    max-width: 38%;
  }
  .title-2 {
    position: relative;
    display: block;
    height: auto;
    width: 100%;
  }
  .title-2 {
    margin-bottom: 40px;
  }
  .title-2:after,
  .title-2:before {
    content: " ";
    position: absolute;
    top: 50%;
    width: 30%;
    height: 1px;
    background-color: #666;
    left: 0;
  }
  .title-2:before {
    left: auto;
    right: 0;
  }
  .title-2 h2 {
    font-weight: 700;
    font-size: 35px !important;
    color: #666;
    text-transform: inherit;
  }
  .title-b p,
  .title-d-1 {
    text-transform: uppercase;
  }
  .title-d-1 {
    font-weight: 700;
  }
  .title-b {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .title-b {
    margin-bottom: 40px;
    height: auto;
  }
  .title-b .title-2 {
    margin-bottom: 0;
  }
  .title-d-1 {
    font-size: 13px;
  }
  .project-content .title-2 h2 {
    margin: 0 auto;
    max-width: 38%;
  }
  .slide-s {
    margin: 0 auto;
  }
  .padding-main {
    padding: 60px 0;
  }

  .pic-about-detial img {
    width: 100%;
    max-width: 100%;
  }

  .col-num p {
    text-transform: uppercase;
  }
  .col-num h3 {
    font-weight: 700;
  }
  .num-detial {
    display: block;
    width: 100%;
    position: relative;
    text-align: center;
  }
  .num-detial {
    margin: 30px 0;
  }
  .col-num {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    height: auto;
    margin: 0 2%;
  }
  .col-num svg {
    width: 80%;
    max-width: 80px;
    margin: auto auto 10px;
  }
  .col-num h3 {
    font-size: 36px;
    color: #ed1c24;
  }
  .col-num p {
    font-size: 14px;
  }

  .slick-prev.slick-arrow {
    position: absolute;
    border: none;
    top: 50%;
    left: 0px;
    background: url(../images/icon/previous1.svg) center center/contain no-repeat;
    width: 80px;
    height: 80px;
    font-size: 0;
    z-index: 99;
  }
  .slick-next.slick-arrow {
    position: absolute;
    border: none;
    top: 50%;
    right: 00px;
    background: url(../images/icon/next1.svg) center center/contain no-repeat;
    width: 80px;
    height: 90px;
    font-size: 0;
    z-index: 99;
  }
  .p-content p {
    margin-bottom: 15px;
  }
  .p-content p:last-child {
    margin-bottom: 0;
  }
  .location-box {
    background-color: #eaeaea;
  }
  .location-box,
  .location-pic,
  .location-txt {
    display: inline-block;
  }
  .location-box {
    position: relative;
    height: auto;
    width: 100%;
  }
  .location-pic {
    width: 60%;
    vertical-align: middle;
    height: auto;
  }
  .location-pic img {
    width: 100%;
  }
  .location-txt {
    width: 38%;
    vertical-align: middle;
    height: auto;
    padding: 30px;
  }

  .pic-img {
    overflow: hidden;
  }
  .pic-img,
  .pic-img img {
    height: auto;
    display: block;
    width: 100%;
    position: relative;
  }
  .pic-img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .pic-img img {
    pointer-events: none;
  }
  .item-project::before {
    pointer-events: none;
  }
  .t-project h3,
  .title-pro {
    font-weight: 700;
    text-transform: inherit;
  }
  .item-project::before,
  .project-section:before {
    left: 0;
    content: " ";
  }
  .slider-project,
  .title-pro {
    margin-bottom: 30px;
  }
  .slider-project {
    margin: 0 -5px;
    .item {
      padding: 0 5px;
    }
  }
  .project-section {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 40px;
    color: #fff;
  }
  .project-section:before {
    width: 100vw;
    background-color: #666;
    height: calc(100% - 150px);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .item-project {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
  }
  .more-plus,
  .t-project h3 {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
  }
  .item-project::before,
  .item-project > a {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .item-project::before {
    border: 0 solid #ed1c24;
    z-index: 1;
  }
  .item-project > a {
    left: 0;
    z-index: 5;
  }
  .t-project {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: calc(100% - 16px);
    z-index: 3;
  }
  .t-project h3 {
    position: relative;
    background-color: #ed1c24;
    padding: 12px 20px;
    font-size: 15px;
    max-width: calc(100% - 55px);
    height: 45px;
  }
  .t-project h3:before {
    content: " ";
    width: 5px;
    height: 100%;
    background-color: #666;
    position: absolute;
    top: 0;
    right: -5px;
  }
  .more-plus {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 30px;
    background-color: #ed1c24;
    text-align: center;
  }
  .title-pro {
    font-size: 35px;
    text-align: center;
    h2 {
      font-size: 35px !important;
    }
  }
    @media screen and (max-width: 1100px) {
    p {
      font-size: 15px;
    }
    .title-2 h2 {
      font-size: 30px !important;
    }
    .title-2:after,
    .title-2:before {
      width: 20%;
    }
    .title-b {
      margin-bottom: 20px;
    }
    .title-2 h2 {
      margin: 0 auto;
      max-width: 58%;
    }
  }
  @media screen and (max-width: 840px) {
    .title-2 h2 {
      font-size: 25px !important;
    }
  }
  @media screen and (max-width: 540px) {
    .title-2 {
      margin-bottom: 20px;
    }
    .title-2 h2 {
      font-size: 18px !important;
    }
    .title-2:after,
    .title-2:before {
      width: 10%;
    }
    .project-content .title-2 h2 {
      margin: 0 auto;
      max-width: 78%;
    }
  }
  @media screen and (min-width: 1100px) {
    .about-detial {
      opacity: 0;
    }
    .animation--on.about-detial {
      animation-name: scaleSmall;
      animation-duration: 0.8s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
  }
  @keyframes scaleSmall {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @media screen and (min-width: 1100px) {
    .title-2,
    .title-b {
      opacity: 0;
    }
    .animation--on.title-2 {
      animation-name: fadeInDown;
      animation-duration: 1s;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
    }
    .animation--on.title-b {
      animation-name: scaleSmall;
      animation-duration: 0.8s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
  }
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translate3d(0, -100px, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes scaleSmall {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @media screen and (max-width: 1100px) {
    p {
      font-size: 15px;
    }
    .num-detial {
      margin: 20px 0;
    }
    .col-num {
      width: 28%;
    }
    .col-num h3 {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 540px) {
    .col-num p {
      font-size: 13px;
    }
    .col-num svg {
      max-width: 50px;
    }
    .col-num h3 {
      font-size: 20px;
    }
  }
  @media screen and (max-width: 1100px) {
    p {
      font-size: 15px;
    }
    .p-content p {
      margin-bottom: 15px;
    }
    .location-txt {
      max-width: 700px;
    }
    .location-pic {
      display: block;
      width: 100%;
      vertical-align: middle;
      height: auto;
    }
    .location-txt {
      display: block;
      width: 90%;
      margin: -50px auto auto;
      background-color: #ed1c24;
      color: #fff;
      padding: 20px;
      position: relative;
      z-index: 4;
    }
  }
  @media screen and (min-width: 1100px) {
    .location-pic,
    .location-txt {
      opacity: 0;
    }
    .animation--on .location-pic,
    .animation--on .location-txt {
      animation-duration: 0.8s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
    .animation--on .location-pic {
      animation-name: goRight;
    }
    .animation--on .location-txt {
      animation-name: goLeft;
    }
  }
  @keyframes goRight {
    0% {
      opacity: 0;
      transform: translate3d(-50%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes goLeft {
    0% {
      opacity: 0;
      transform: translate3d(50%, 0, 0);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  @media screen and (min-width: 1100px) {
    .slide-s,
    .title-2 {
      opacity: 0;
    }
    .animation--on.title-2 {
      animation-name: fadeInDown;
      animation-duration: 1s;
      animation-delay: 0.8s;
      animation-fill-mode: forwards;
    }
    .animation--on.slide-s {
      animation-duration: 0.8s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
    .animation--on.slide-s {
      animation-name: scaleSmall;
    }
  }
  @media screen and (max-width: 1100px) {
    .slider-project,
    .title-pro {
      margin-bottom: 20px;
    }
    .project-section {
      padding-top: 20px;
    }
    .t-project h3 {
      padding: 11px 15px;
      font-size: 13px;
      max-width: 80%;
    }
    .more-plus {
      width: 41px;
      height: 41px;
      line-height: 45px;
      font-size: 30px;
    }
    .title-pro {
      font-size: 24px;
      line-height: 1.4;
      h2 {
        font-size: 35px !important;
      }
    }
  }
  @media screen and (max-width: 840px) {
    .slide-buttons {
      display: none;
    }
  }
  @media screen and (max-width: 540px) {
    .more-plus {
      width: 41px;
      height: 41px;
      font-size: 20px;
    }
    .title-pro {
      font-size: 17px;
      h2 {
        font-size: 17px !important;
      }
    }
  }
  @media print {
    .slide-buttons,
    .slide-pagination {
      display: none;
    }
  }
  :-webkit-full-screen {
    background-color: #fff !important;
    position: fixed !important;
    left: 0;
    top: 0;
    z-index: 2147483647 !important;
  }
  /*! CSS Used from: https://dkra.vn/catalog/view/theme/default/css/desktop.css?v=1.0.2 */
  @media screen and (min-width: 1100px) {
    .item-project {
      cursor: pointer;
    }
    .pic-img {
      transition: all 0.5s ease-in-out;
    }
    .item-project .t-project,
    .item-project::before,
    .pic-project {
      transition: all 0.3s ease-in-out;
    }
    .item-project:hover::before {
      border-width: 8px;
      background-color: rgba(0, 0, 0, 0.3);
    }
    .item-project:hover .pic-project {
      filter: grayscale(100%);
    }
    .item-project:hover .t-project {
      bottom: 8px;
      left: 8px;
    }
  }
  @media screen and (min-width: 1100px) {
    .item-project,
    .title-pro {
      opacity: 0;
    }
    .animation--on .item-project,
    .animation--on.title-pro {
      animation-name: scaleSmall;
      animation-duration: 0.8s;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }
  }
  @keyframes scaleSmall {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  @include bp("sp") {
    .t-project {
      > a {
        display: none !important;
      }
      h3 {
        width: 100%;
        max-width: 100%;
        &:before {
          content: none;
        }
      }
    }
    .padding-main {
      padding: 30px 0;
    }
  }
  .animatiom--on {
    opacity: 1;
  }
}
