.gradien-red {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.gradien-red::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 200%;
    height: 100%;
    z-index: -1;
    background: #cc3233;
    background: linear-gradient(
        90deg,
        #cc3233 0,
        #c92c2d 0,
        #6d1d1d 50%,
        #c92c2d 80%,
        #cc3233 100%
    );
    transition: all 0.5s;
}
.gradien-red:hover::after {
    right: -100%;
    transition: all 0.5s;
}
.mv-text .btn {
    width: 18.25rem;
    min-height: 3.875rem;
}
.btn.gradien-red {
    padding: 0.3125rem 0.625rem;
    min-height: 4rem;
    font-weight: 700;
    color: #fff;
    font-size: calculateRem(25px);
    border-radius: 6.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.btn.btn-shadown {
    box-shadow: 0.3125rem 0.3125rem 0.75rem -0.3125rem rgba(0, 0, 0, 0.5);
}
.pagination-01 {
    align-items: center;
    padding: 3.4375rem 0;
}
.pagination-01 * {
    border: none;
}
.pagination-01 .page-link {
    font-size: 1.1875rem;
    position: relative;
    width: 5rem;
    height: 4.6875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 600;
    background-color: transparent !important;
    color: $color_base;
    transition: all 0.3s;
}
.page-item.active .page-link,
.page-item:hover .page-link {
    font-size: 3rem;
}
.pagination-01 .page-link span {
    transition: transform 0.3s;
    color: #333;
}
.page-item.active .page-link {
    color: $color_base;
}
.pagination-01 .page-link:after {
    content: "";
    width: 99%;
    height: 0.3125rem;
    background: #a76621;
    background: linear-gradient(
        90deg,
        #a76621 0,
        #d39835 40%,
        #f1b33b 50%,
        #d39835 60%,
        #a76621 100%
    );
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 6.25rem;
    opacity: 0;
    transition: opacity 0.3s;
}
.pagination-01 .active .page-link,
.pagination-01 .page-link:hover {
    background-color: transparent;
}
.pagination-01 .active .page-link:after,
.pagination-01 .page-link:hover:after {
    opacity: 1;
}
.pagination-01 .active .page-link.page-next,
.pagination-01 .page-link.page-prev:hover {
    background-color: transparent;
}
.box-shadown {
    box-shadow: 0.3125rem 0.3125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}
.logo {
    width: 21.75rem;
    transition: all 0.3s;
}
.logo img {
    width: 100%;
}
@include bp("pc") {
    .header {
        height: calculateRem(136px);
        position: relative;
    }
}
.header_top {
    padding: 1.5rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header_top:after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/h-01.png), url(../images/h-02.png);
    background-position: center left, center right;
    background-repeat: no-repeat, no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    background-size: auto 100%, auto 100% !important;
}
.header_top .navbar {
    z-index: 9;
}
.header_top .navbar-collapse > ul > li > a {
    font-size: 1.1875rem;
    position: relative;
}
.header_top .navbar-collapse > ul > li > a span {
    color: #fff !important;
    text-transform: capitalize;
    transition: all 0.3s;
}
.header_top .navbar-collapse > ul > li > a:after {
    content: "";
    width: 0;
    height: 0.1875rem;
    background-color: transparent;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 3.125rem;
    transition: all 0.3s;
}
.header_top .navbar-collapse > ul > li > a.active span,
.header_top .navbar-collapse > ul > li > a:hover span {
    // transform: scale(1.3);
    // -webkit-text-stroke-width: 0.5px;
    font-style: italic;
    transform-origin: bottom;
    font-weight: bold;
}
.header_top .navbar-collapse > ul > li > a.active:after,
.header_top .navbar-collapse > ul > li > a:hover:after {
    width: 3.75rem;
    background-color: #fff;
}
.header_top .form--search {
    position: relative;
}
.header_top .navbar-nav li + li {
    margin-left: 1.5rem;
}
.form--search {
    width: 5.2rem;
    height: 3.25rem;
    text-align: right;
    margin-left: 1.5rem;
    position: relative;
}
.form--search .form-control {
    width: 100%;
    height: 3.25rem;
    border: 0.125rem solid #fff;
    border-radius: 6.25rem;
    padding-right: 3.75rem;
    padding-left: 1.25rem;
    background: $color_red;
    color: #fff;
    transition: all 0.8s;
    display: inline-block;
}
@include bp("pc") {
    .form--search .form-control {
        position: absolute;
        top: 0;
        right: 0;
        max-width: calculateRem(670px);
        &.active {
            transition: all 0.8s;
            width: 100vw;
        }
    }
}
.form--search ::-moz-placeholder {
    color: #fff;
    opacity: 1;
}
.form--search :-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
.form--search ::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}
.form--search ::placeholder {
    color: #fff;
    opacity: 1;
}
.form--search :-ms-input-placeholder {
    color: #fff;
}
.form--search ::-ms-input-placeholder {
    color: #fff;
}
:focus {
    box-shadow: none;
    outline: 0;
}
.form-control:focus {
    box-shadow: none;
    outline: 0;
}
.mv-text {
    position: absolute;
    max-width: 41.25rem;
    top: 0;
    right: 0;
}
.mv-text .jumbotron {
    background: 0 0;
    color: #fff;
    background: rgba(203,47,48,0.6);
}
.mv-text .jumbotron h2 {
    font-size: 5.625rem;
    font-style: italic;
    font-weight: 600;
}
.mv-text .jumbotron .desc {
    margin-bottom: 3.125rem;
}
.swiper-container {
    padding-bottom: 2.8125rem;
}
.animationAll {
    opacity: 0;
    transition: all 0.3s;
}
.animationAll.fadeLeft {
    transform: translateX(-30%);
    transition-delay: 0.5s;
}
.animationAll:nth-child(2) {
    transition-delay: 0.8s;
}
.animationAll:nth-child(3) {
    transition-delay: 1.1s;
}
.swiper-slide-active .animationAll {
    opacity: 1;
    transition-delay: 0.5s;
}
.swiper-slide-active .animationAll.fadeLeft {
    transform: translateX(0);
    transition-delay: 0.5s;
}
.swiper-slide-active .animationAll:nth-child(2) {
    transition-delay: 0.8s;
}
.swiper-slide-active .animationAll:nth-child(3) {
    transition-delay: 1.1s;
}
.swiper-pagination-bullet {
    background-color: #fff !important;
    margin: 0 0.625rem !important;
    width: 0.75rem;
    height: 0.75rem;
    transform: scale(0.8);
    transition: all 0.5s;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
    transform: scale(1);
    transition: all 0.5s;
}
.swiper-button-next,
.swiper-button-prev {
    width: auto;
    height: auto;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}
.swiper-button-next {
    right: 5%;
}
.swiper-button-prev {
    left: 5%;
}
.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0.625rem;
    left: 0;
    width: 100%;
}
.card {
    border: none;
}
.card-01 {
    margin-bottom: 2.1875rem;
}
.card-01 .card-title {
    font-size: 2.375rem;
}
.card-01 .card-btn {
    text-align: center;
}
.card-01 .card-text {
    margin-bottom: 3.75rem;
}
.card-01 .btn {
    width: 100%;
    max-width: 12.5rem;
}
.card-02 {
    background-color: #fff;
    border-radius: 1.25rem;
    box-shadow: 0.3125rem 0.3125rem 0.75rem -0.3125rem rgba(0, 0, 0, 0.8);
    overflow: hidden;
    height: 100%;
}
.animation-delay {
    .animation {
        margin-bottom: calculateRem(40px);
    }
}
.card-02 .card-img-top {
    margin-bottom: 15px;
}
.card-02 .card-title {
    font-size: 1.5625rem;
    margin-bottom: 0.9375rem;
}
.card-02 .card-body {
    padding-bottom: 2rem;
}
.card-03 {
    background-color: transparent;
    height: 100%;
}
.card-03 .card-img-top {
    position: relative;
    border-radius: 0.9375rem;
    overflow: hidden;
    background-color: #fff;
}
.card-03 .card-img-top .thumbnail {
    border-radius: 0.9375rem;
    overflow: hidden;
}
.card-03 .card-img-top .card-title {
    font-size: calculateRem(32px);
    text-align: center;
    margin-bottom: 0;
    padding: 1rem 0.9375rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-items: center;
    span {
        width: 100%;
    }
}
.card-03 .card-body {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    color: #fff;
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
}
.card-03 .card-text {
    text-align: justify;
}
.card-03 .btn {
    width: 13.4375rem;
    height: 2.875rem;
    font-size: 1.625rem;
    margin-bottom: 2.5rem;
}
.section-partner {
    padding-top: 2.8125rem;
}
.section-partner a.btn.gradien-red {
    width: 25.875rem;
    height: 7rem;
}
.section-partner .gradien-red:hover::after {
    right: 0 !important;
}
.section-03 {
    padding-top: 4rem;
}
.section-01 {
    padding-top: 7rem;
}
.section-04 {
    padding-top: 7rem;
    padding-bottom: 3.75rem;
}
.section-04 article {
    margin-bottom: 7rem;
}
.section-05 {
    padding-top: 7rem;
    padding-bottom: 3.75rem;
}
.section-05 article {
    margin-bottom: 3.75rem;
}
.grid.grid-01 {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid.grid-01 .item {
    width: 20%;
    padding: 0 2.5%;
}
.list-social {
    display: flex;
}
.list-social li + li {
    margin-left: 1.6875rem;
}
.title-group {
    margin-bottom: 3.75rem;
}
.title-group h3 {
    font-size: 2.5625rem;
    text-align: center;
    margin-bottom: 0.9375rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.title-group .tag-cate {
    text-align: center;
}
.title-group .tag-cate .btn {
    min-width: 9.8125rem;
    min-height: 2.6875rem;
}
.title-img {
    display: inline-block;
    max-width: 38rem;
}
.title-img-02 {
    max-width: 46.5rem;
}
.block-title {
    text-align: center;
}
.block-title.type-01 {
    margin-bottom: 6.25rem;
}
.dash-slogan {
    height: 11.25rem;
    background: url(../images/dash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: 100% 100%;
}
.dash-slogan h5 {
    font-size: 3.75rem;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    text-shadow: 0.125rem 0.0625rem 0.125rem #969696;
}
.footer {
    padding: 3.125rem 0;
}
.footer_top {
    font-size: 1.8125rem;
    line-height: 2.3125rem;
    padding-bottom: 2.5rem;
}
.footer_bottom {
    text-align: center;
    color: #fff;
    font-size: 1.8125rem;
    line-height: 2.3125rem;
}
.footer_bottom p {
    margin-bottom: 1.25rem;
}
.footer_bottom .list-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.screen-06 .text-headline h2 {
    margin-bottom: 1.25rem;
}
.screen-06 .text-headline p {
    margin-bottom: 2.5rem;
}
.screen-06 .card-text {
    color: #696969;
    margin-top: 1rem;
    margin-bottom: 1.75rem;
}
.screen-06 .card-items {
    margin-top: 1.25rem;
}
.screen-06 .card-03 .card-img-top,
.screen-06 .card-03 .card-img-top .thumbnail {
    border-radius: 0;
}
.screen-06 .text-items .list-items > div {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.screen-06 .text-items .text-justify {
    margin-bottom: 1.875rem;
}
.screen-06 .text-items .text-justify h3 {
    margin-bottom: 1.25rem;
    position: relative;
}
.screen-06 .text-items .text-justify h3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -1.875rem;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 62.5rem;
    background: #cc3233;
}
.screen-06 .contact-form {
    padding-bottom: 3.75rem;
    max-width: 58.75rem;
    margin: 0 auto;
}
.screen-06 .contact-form h1 {
    margin-bottom: 3.125rem;
}
.c-list-news.type-02 h3 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
}
.c-list-news.type-02 h4 {
    font-size: 2rem;
    margin-top: 6.25rem;
    margin-bottom: 1.875rem;
}
.screen-05 .section-01 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
}
.screen-05 .map-05 {
    margin-top: 5.625rem;
    margin-bottom: 6.25rem;
}
.screen-06 .section-01 h2 {
    font-size: 3.9375rem;
}
.screen-06 .section-01 h2.title-02 {
    font-size: 9.375rem;
    font-weight: 700;
    line-height: 1;
}
.media-s601 h5 {
    font-size: 4.8vw;
    padding-top: 0.625rem;
}
.btn.btn-default {
    width: 16.375rem;
    height: 4.4375rem;
    position: relative;
}
.block-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.block-button em {
    display: block;
    margin-bottom: 0.9375rem;
}
.section-s3-01 {
    background-color: #fff;
    padding-bottom: 3.125rem;
}
.section-s3-01 .thumbnail {
    margin-bottom: 3.125rem;
}
.slider01,
.slider02 {
    position: relative;
}
.slider01 {
    .image-cover.image-cover--16x9 {
        padding-bottom: 0;
        height: calc(100vh - 12rem);
    }
}
.slider02 {
    padding: 0 0.9375rem;
    overflow: hidden;
}
.slider02 .slider-content {
    overflow: hidden;
}
.area-slider {
    position: relative;
}
.area-slider .swiper-button-next-02,
.area-slider .swiper-button-prev-02 {
    width: 3.1875rem;
    height: 3.1875rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 999;
    position: absolute;
    top: 16%;
}
.area-slider .swiper-button-prev-02 {
    transform: rotate(90deg);
    padding-top: 0.3125rem;
    left: -3.125rem;
}
.area-slider .swiper-button-next-02 {
    transform: rotate(-90deg);
    padding-top: 0.3125rem;
    right: -3.125rem;
}
.trimText {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
}
.trimText.clamp4 {
    -webkit-line-clamp: 4;
}
.trimText.clamp2 {
    -webkit-line-clamp: 2;
}
.trimText.clamp3 {
    -webkit-line-clamp: 3;
}
.navbar-brand {
    width: 21.75rem;
}
.navbar-brand img {
    width: 100%;
}
.mv-text h2 {
    font-weight: 900 !important;
}
.mv-text.mv-text--02 {
    top: auto;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    position: absolute;
    padding: 1.15vw 0;
    background-color: rgba($color: $color_red, $alpha: 0.6);
}
.mv-text.mv-text--02 .jumbotron {
    padding: 0 !important;
}
.mv-text.mv-text--02 .jumbotron h2 {
    text-align: center;
    font-size: 4.5rem;
}
.mv-text.mv-text--02 .jumbotron .desc {
    text-align: center;
    font-size: 2.8vw;
    margin-bottom: 2.3vw;
}
.item-04 {
    width: 100%;
    height: 800px;
}
.slider03 {
    text-align: center;
    position: relative;
    background: #fff;
    .reverse {
        transform: rotate(-180deg);
    }
    .swiper-slide {
        &:hover {
            opacity: 0.8;
        }
    }
    @include bp("pc") {
        .gallery-top {
            .image-cover--16x9 {
                padding: 0;
                height: calc(100vh - 21.5rem);
            }
            .swiper-button-prev ,
            .swiper-button-next {
                top: 48%;
                &:hover {
                    img {
                        background-color: #fff;
                        border-radius: 10px;
                    }
                }
            }
        }
        .swiper-container.gallery-thumbs {
            .swiper-wrapper {
                justify-content: center;
            }

            .title {
                font-size: 16px;
                text-align: justify !important;
            }
        }
        
    }
    .gallery-top {        
        @include bp('sp') {
            .swiper-button-next,.swiper-button-prev {
                img {
                    width: 40px;
                }
            }
        }
    }
    .gallery-thumbs-wrap {
        // position: absolute;
        // width: 100%;
        // bottom: 0;
        // left: 0;
        background: #ffffff;
        z-index: 99;
        padding-left: 40px;
        padding-right: 40px;
        margin: 0 auto;
        position: relative;
        .swiper-button-prev {
            left: 0;
            z-index: 99;
        }
        .swiper-button-next {
            right: 0;
            z-index: 99;
        }
        .gallery-thumbs {
            .image-cover.image-cover--16x9 {
                width: 176px !important;
                height: 123px !important;
                padding: 0 !important;
            }
            .swiper-slide {
                width: auto;
            }
            .swiper-wrapper {
                justify-content: center;
            }
            
            @include bp('sp') {
                .image-cover.image-cover--16x9 {
                    width: 100px !important;
                    height: 70px !important;
                    padding: 0 !important;
                }
                .swiper-button-prev,
                .swiper-button-next {
                    img {
                        width: 15px;
                    }
                }
            }
        }        
    }
}
.slider03 .swiper-pagination-03 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    top: auto;
    bottom: 1.25rem;
}
.form--search .form-control {
    background-size: 1.875rem 1.8125rem;
}
.header_top:after {
    background-size: 6.6875rem 15.125rem, 6.6875rem 15.125rem;
}
.c-list-news {
    padding-left: 3.125rem;
    padding-bottom: 1.5rem;
    + .c-list-news {
        padding-top: 1.25rem;
    }
}
.c-list-item {
    display: flex;
    position: relative;
    border-radius: 1.25rem;
}
.c-list-item + .c-list-item {
    margin-top: 4.375rem;
}
.c-list-item .link {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    left: -3.5rem;
}
.c-list-item .c-list-content {
    width: 60%;
    background-color: #fff;
    padding: 1.5625rem;
    border-radius: 1.25rem 0 0 1.25rem;
    overflow: hidden;
}
.c-list-item .c-list-content .c-list-title {
    font-size: calculateRem(25px);
    text-align: center;
    margin-bottom: 1.25rem;
    font-weight: bold;
}
.c-list-item .c-list-content .c-list-text {
    margin-bottom: 1.25rem;
}
.c-list-item .c-list-thumbnail {
    width: 40%;
    border-radius: 0 1.25rem 1.25rem 0;
    overflow: hidden;
}
.c-list-active {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    min-width: 28.125rem;
    margin: 0 auto;
    position: relative;
}
.c-list-active:after {
    content: "";
    width: calc(100% - 100rem / 16);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0.25rem;
    background-color: #b32325;
    z-index: -1;
}
.c-list-active .c-actice {
    z-index: 9;
}
.section-active .section-header {
    padding-top: 50px;
}
.section-active .section-header p {
    max-width: 75rem;
    margin: auto;
}
.section-active .title {
    text-align: center;
    font-size: 3.9375rem;
    margin-bottom: 2.1875rem;
    font-weight: 600;
    font-style: italic;
}
.section-new .block-news h3 {
    font-size: calculateRem(32px);
    font-weight: bold;
    font-style: italic;
}
.card-01 .card-title {
    text-align: center;
}
.card-01 .card-text {
    text-align: justify;
}
.card.card-05 {
    background-color: transparent;
    position: relative;
    padding-bottom: 1.875rem;
}
.card.card-05::after {
    content: "";
    width: 60%;
    height: 0.3125rem;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    top: 100%;
}
.card.card-05 .card-img-top {
    border-radius: 1.25rem;
    overflow: hidden;
    margin-bottom: 1.25rem;
}
.card.card-05 .card-title {
    font-size: calculateRem(25px);
    margin-bottom: 1.875rem;
    color: #fff;
}
.card.card-05 .card-text {
    color: #fff;
}
.card.card-05 .card-body {
    text-align: center;
}
.media-02 + .media {
    margin-top: 3.4375rem;
}
.media-02 .media-body h5 {
    font-size: 19px;
    margin-bottom: 1.25rem;
    font-weight: 600;
    height: 44px;
}
.media-02 .media-body p {
    font-size: 1.1875rem;
    text-align: justify;
    margin-bottom: 25px;
}
.media-02 .thumbnail {
    width: 300px;
    margin-top: 0;
    margin-right: 25px;
}
.form-01 {
    max-width: 59.125rem;
    margin: 0 auto;
}
.form-01 .btn {
    height: 4.8125rem;
    width: 100%;
    border-radius: 6.25rem !important;
    background: #f1b33b;
    background: linear-gradient(180deg, #f1b33b 0, #a76621 100%);
    font-size: 3rem;
    border: none;
    color: #fff;
    font-weight: 700;
}
.form-01 .title {
    font-size: 3.9375rem;
    font-weight: 700;
}
.form-01 .form-control {
    border: none;
    height: 4.8125rem;
}
.form-01 .form-group.line {
    position: relative;
}
.form-01 .form-group.line .form-control {
    font-size: 16px;
}
.form-01 .form-group.line:after {
    content: "";
    width: calc(100% - 30px);
    height: 3px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    top: auto;
    bottom: 0;
    background: #a76621;
    background: linear-gradient(
        180deg,
        #a76621 0,
        #d39835 40%,
        #f1b33b 50%,
        #d39835 60%,
        #a76621 100%
    );
}
.form-01 .form-group.line label {
    font-size: 1.6875rem;
    line-height: 4.8125rem;
    width: 100%;
    position: relative;
}
.form-01 .form-group.line label:after {
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #a76621;
    background: linear-gradient(
        90deg,
        #a76621 0,
        #d39835 40%,
        #f1b33b 50%,
        #d39835 60%,
        #a76621 100%
    );
}
.form-01 .form-group .upload-btn {
    padding: 3px;
    background: #a76621;
    height: 4.8125rem;
    background: linear-gradient(
        90deg,
        #a76621 0,
        #d39835 40%,
        #f1b33b 50%,
        #d39835 60%,
        #a76621 100%
    );
}
.form-01 .form-group .upload-btn label {
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    font-size: 1.1875rem;
    font-size: 2.75rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    text-align: center;
}
.ic-arrow-d,
.ic-arrow-r,
.ic-arrow-triang,
.ic-face,
.ic-next,
.ic-phone,
.ic-prev,
.ic-search,
.ic-triang-r,
.ic-what,
.ic-youtube,
.step-01,
.step-02,
.step-03 {
    display: inline-block;
    background: url(../images/sprite01.png) no-repeat;
    background-size: 7.75rem 58.0625rem;
    overflow: hidden;
    text-indent: -624.9375rem;
    text-align: left;
}
.step-01 {
    background-position: -2px 0;
    width: 7.5rem;
    height: 7.4375rem;
}
.step-02 {
    background-position: -0.125rem -7.5625rem;
    width: 7.5rem;
    height: 7.4375rem;
}
.step-03 {
    background-position: -0.125rem -15.125rem;
    width: 7.4375rem;
    height: 7.4375rem;
}
.ic-triang-r {
    background-position: -0.125rem -22.6875rem;
    width: 6.875rem;
    height: 7.1875rem;
}
.ic-face {
    background-position: -0.125rem -30rem;
    width: 5.25rem;
    height: 5.125rem;
}
.ic-phone {
    background-position: -0.125rem -35.25rem;
    width: 5.25rem;
    height: 5.125rem;
}
.ic-what {
    background-position: -0.125rem -40.5rem;
    width: 5.25rem;
    height: 5.125rem;
}
.ic-youtube {
    background-position: -0.125rem -45.75rem;
    width: 5.25rem;
    height: 5.125rem;
}
.ic-prev {
    background-position: -0.125rem -51rem;
    width: 3.625rem;
    height: 3.4375rem;
}
.ic-next {
    background-position: -3.875rem -51rem;
    width: 3.5rem;
    height: 3.4375rem;
}
.ic-arrow-r {
    background-position: -0.125rem -54.5625rem;
    width: 2.75rem;
    height: 3.375rem;
}
.ic-arrow-d {
    background-position: -3rem -54.5625rem;
    width: 2.375rem;
    height: 1.4375rem;
}
.ic-arrow-triang {
    background-position: -3rem -56.125rem;
    width: 2.3125rem;
    height: 1.25rem;
}
.ic-search {
    background-position: -5.5rem -30rem;
    width: 1.875rem;
    height: 1.8125rem;
}
.ic-arrow-r.prev {
    transform: rotate(180deg);
}
.section-active {
    padding-bottom: 3.125rem;
}
.section-processing {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}
.section-processing .section-header {
    max-width: 75rem;
    margin: 0 auto;
    margin-bottom: 3.125rem;
}
.section-processing .section-header .img-fluid {
    width: 14.625rem;
}
.section-processing .card-text {
    color: #696b6b;
}
.section-form {
    padding-bottom: 6.25rem;
}
.section-s7lock01 {
    padding-top: 5rem;
}
.sub-mit {
    position: absolute;
    top: calculateRem(9px);
    right: calculateRem(20px);
    z-index: 99;
    border: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
    }
}
.list-infos-post {
    strong {
        font-weight: 600;
    }
}
.slider-about {
    .slick-current {
        overflow: hidden;
        .card.card-about {
            transform: scale(1.5);
        }
    }
    .slick-arrow {
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color_red url('../images/icon/ic-arrow-d.png') center no-repeat;
        background-size: 50%;
        position: absolute;
        top: 37%;        
        opacity: 0.6;
        font-size: 0;
        transition: all 0.3s;
        &.slick-prev {
            left: -30px;
            transform: rotate(90deg);
        }
        &.slick-next {
            right: -30px;
            transform: rotate(-90deg);
        }
        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }
}

.form-02 .form-group .upload-btn {
    padding: 3px;
    background: #a76621;
    height: 46px;
    background: linear-gradient(
        90deg,
        #a76621 0,
        #d39835 40%,
        #f1b33b 50%,
        #d39835 60%,
        #a76621 100%
    );
}
.form-02 .form-group .upload-btn label {
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    font-size: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 1;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.upload-btn label,
.upload-btn:hover {
    cursor: pointer;
}
.form-02 {
    input.form-control, select.form-control {
        height: 36px;
    }
    .form-control {
        font-size: 15px;
    }
}
.slider05 {
    .slick-arrow {
        width: 50px;
        height: 46px;
        background: url('../images/icon/ic-control-slider03.png') center no-repeat;
        background-size: contain;
        display: inline-block;
        border: none;
        font-size: 0;
        position: absolute;
        top: 50%;
        margin-top: -23px;
        position: absolute;
        z-index: 99;
        &.slick-prev {
            left: -50px;
            transform: rotate(180deg);
        }
        &.slick-next {
            right: -50px;
        }
        @include bp (0,'1300px') {
            &.slick-prev {
                left: 20px;
            }
            &.slick-next {
                right: 20px;
            }
        }
    }
}