.s-ic-home{display:inline-block;background:url('../images/icons.png') no-repeat;overflow:hidden;text-indent:-9999px;text-align:left;}
.s-ic-home{background-position:-3px 0;width:32px;height:31px;}
.page-title{text-align:center;}