.slider04 {
  img {
    width: initial;
  }
}
#back-top {
  position: fixed;
  bottom: 3.125rem;
  right: calculateRem(100px);
  z-index: 999;
  transform: rotate(-90deg);
}
.footer {
  .list-infos {
    margin-top: calculateRem(30px);
    li {
      position: relative;
      width: 100%;
      padding-left: calculateRem(40px);
      font-size: calculateRem(19px);
      text-align: left;
      span {
        color: $color_base;
      }
      em {
        @include posCenterY();
      }
    }
  }
  .f-title-01 {
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 4px;
    color: #A00505;
    font-size: calculateRem(20px);
    text-align: left;
    display: inline-block;
    &:after {
      content: "";
      width: 100%;
      max-width: 300px;
      height: 2px;
      background-color: #A00505;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
@include bp('sp') {
  .footer {
    background-color: #fff;
    padding-top: 0;
  }
  .list-unstyled.list-social {
    transform: scale(0.5);
    transform-origin: left;
  }
  .footer_top {
    padding-bottom: 0;
  }
  #back-top {
    right: calculateRem(30px);
}
}