.activeHeader {
  .header_top {
    padding: calculateRem(15px) 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: linear-gradient(90deg, #6d1d1d 0, #c52527 44%, #cc3233 100%);
    
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    .logo {
      width: 16rem;
      transition: all 0.3s;
    }
    .navbar-collapse > ul > li > a.active span, .navbar-collapse > ul > li > a:hover span {
      transform: scale(1);
    }
    @include bp ('pc') {
      -webkit-animation: scrollShowHeader 0.3s ease-in-out forwards;
      animation: scrollShowHeader 0.3s ease-in-out forwards;
    }
    @include bp ('sp') {
      background: #fff;
       .logo {
        width: 10rem;
        transition: all 0.3s;
      }
    }
  }
}
@include bp('sp') {
  .sub-mit {
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 99;
    border: none;
    background: transparent;
  }
  html {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .logo {
    width: 130px;
  }
  .header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    &_top {
      padding: 15px 0;
      box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
      background: #fff;
    }
  }
  .mv-text.mv-text--02 .jumbotron h2 {
    font-size: 3.5rem;
  }
  .navbar-light .navbar-toggler {
    border: none;
    position: relative;
    padding: 0;
    width: 24px;
    height: 18px;
    border-radius: 0;
    .icon-menu{
      width: 100%;
      height: 3px;
      background-color: $color_base;
      @include posCenter();
      &:after, &:before {
        content: "";        
        width: 100%;
        height: 3px;
        background-color: $color_base;
        @include posCenter();
      }
      &:after {
        margin-top: 9px;
      }
      &:before {
        margin-top: -9px;
      }
    }
  }
  .header_top .navbar-collapse {
    > ul > li > a span {
      color: $color_base !important;
    }
    .navbar-nav {
      padding-top: calculateRem(30px);
    }
  }
  .header_top .navbar-collapse > ul > li > a.active span,
  .header_top .navbar-collapse > ul > li > a:hover span {
    transform-origin: left;
  }
  .header_top {
    .navbar-nav {
      li {
        + li {
          margin-left: 0;
        }
      }
    }
  }
  .area-slider {
    .swiper-button-next-02 {
      right: 15px;
      top: 26%;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    .swiper-button-prev-02 {
      left: 15px;
      top: 26%;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
  .js-active-search {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
  .active-search {
      .form--search {
        transform: translateY(0);
        opacity: 1;
      }
  }
  .form--search {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed !important;
    margin: 0;
    background: #fff;
    padding: 15px;
    height: auto;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
    z-index: 99;
  }
  .slider01 .image-cover.image-cover--16x9 {
    padding-bottom: 0;
    height: 500px;
  }
}