.icon-global, .icon-mail, .icon-local, .icon-phone
{ display: inline-block; background: url('../images/sprite02.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.icon-global { background-position: -3px -0px; width: 19px; height: 20px; }
.icon-mail { background-position: -3px -23px; width: 18px; height: 13px; }
.icon-local { background-position: -3px -39px; width: 16px; height: 21px; }
.icon-phone { background-position: -3px -63px; width: 16px; height: 17px; }


@include bp ('sp') {
  .ic-arrow-r {
    width: 20px;
    height: 23px;
    background: url('../images/ic-next.png') no-repeat;
    background-size: contain;
  }
  .s-ic-home, .s-ic-search-1, .s-ic-video-1, .s-ic-arrow-r-1
{ display: inline-block; background: url('../images/icons.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.s-ic-home { background-position: -3px -0px; width: 32px; height: 31px; }
.s-ic-search-1 { background-position: -3px -34px; width: 23px; height: 24px; }
.s-ic-video-1 { background-position: -3px -61px; width: 21px; height: 25px; }
.s-ic-arrow-r-1 { background-position: -3px -89px; width: 10px; height: 10px; }
}
.icon-email {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: orangered url('../images/icon/email.png') center no-repeat;
  background-size: 20px;
}
.ic-menu-sub {
  width: 40px;
  height: 32px;
  background: url(../images/icon/ic-arrow-triang.png) center no-repeat;
  background-size: 15px;
  vertical-align: middle;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: -8px;
  z-index: 999;
  transition: all 0.3s;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
// .slider01 .image-cover.image-cover--16x9 {
//   height: 0;
//   padding-bottom: 56.25%;
// }
.ic-control-slider03 {
    width: 79px;
    height: 74px;
    background: url('../images/icon/ic-control-slider03.png') center no-repeat;
    display: inline-block;
    background-size: contain;
    &.small {
      width : 50px;
      height : 46px;
    }
}
@include bp('sp') {
  .ic-control-slider03 {
      width: 50px;
      height: 46px;
      background: url('../images/icon/ic-control-slider03.png') center no-repeat;
      display: inline-block,
  }
}