@media (max-width: 1600px) {
    .container {
        max-width: calculateRem(1600px);
    }
}
@include bp(0, "1250px") {
    .area-slider .swiper-button-prev-02 {
        left: calculateRem(20px);
        top: 16%;
    }
    .area-slider .swiper-button-next-02 {
        right: calculateRem(20px);
        top: 16%;
    }
}
@include bp(0, "767px") {
    .footer_bottom {
        text-align: left;
    }
    .c-list-active {
        max-width: 100%;
        width: 100%;
        .c-actice {
            transform: scale(0.8);
        }
    }
    .col-md-5.pr-0 {
        padding-right: 15px !important;
    }

    .swiper-container {
        padding-bottom: 0;
    }
    .pagination-01 {
        padding: 2rem 0;
        .page-link {
            width: 28px;
            height: 28px;
            font-size: 15px;
            font-style: normal;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 1;
            padding: 0;
            margin: 0 5px;
            background-color: #ddd !important;
            &:hover,
            &.active {
                background-color: $color_red !important;
                color: #ffffff;
            }
            &.page-next,
            &.page-prev {
                background-color: transparent !important;
            }
        }
    }
    .page-item.active .page-link,
    .page-item:hover .page-link {
        font-size: 15px;
    }
    .pagination-01 .page-link:after {
        content: none;
    }
    p {
        font-size: 14px;
    }
    .slider03 {
        position: relative;
        padding-bottom: 30px;
        background: #6d1d1d;
        background: linear-gradient(90deg, #6d1d1d 0, #c52527 44%, #cc3233 100%);
        .title {
            font-size: 15px;
        }
        .gallery-top {
            margin-bottom: 10px;
        }
        .gallery-thumbs {
            width: calc(100% - 18px);
            margin: 0 auto;
        }
    }
    .media-02 .thumbnail {
        padding-left: 0;
        width: 33%;
        border-radius: 7px;
        overflow: hidden;
        margin-left: 15px;
    }
    .media-02 .media-body h5 {
        font-size: 18px;
    }
    .section-s7lock01 {
        padding-top: 0;
    }
    .media-02 + .media {
        margin-top: 2rem;
    }
    .text-headline h2 {
        font-size: 2rem;
    }
    .section-03 {
        padding-top: 15px;
        .row {
            > div {
                margin-bottom: 30px;
            }
        }
        .card-02 {
            .card-title {
                font-size: 1.5rem;
                margin-bottom: 0.9375rem;
            }
            .card-img-top {
                margin-bottom: 0;
            }
            .card-body {
                padding-bottom: 2rem;
            }
        }
    }
}
