.section {
  &-partner {
    .btn {
      font-size: calculateRem(56px);
    }
  }
}
@include bp('sp') {
  .section {
    &-new {
      .block-news h3 {
        font-size: 2rem;
      }
    }
    &-01 {
      padding-top: 30px;
    }
  }
  .c-list-news {
    padding-left: 0;
  }
  .section-active .title {
    font-size: 3rem;
  }
  .section-partner a.btn.gradien-red {
      width: 12rem;
      height: 5rem;
      font-size: calculateRem(25px);
  }
  .section-active {
    padding-bottom: 1px;
  }
}
.content-about { 
  padding-top: 50px;
  .c-title {
    &-md {
      font-size: calculateRem(37px);
      text-transform: uppercase;
      font-weight: 600;
      color: $color_red;
      text-align: center;
    }
  }
  .c-title-sm {
    font-size: 19px;
    font-weight: 600;
    color: $color_red;
    margin-bottom: 20px;
  }
  .sec-01 {
    .sec-content {
      margin-bottom: 40px;
      .infos .thumbnail {
        margin-bottom: 20px;
      }
      .name,.regency {
        text-align: center;
        padding-right: 18%;
        span {
          font-size: 16px;
          font-weight: 600;
        }
        strong {
          font-size: 19px;
          font-weight: bold;
          color: $color_red;
        }
      }
      
      .text {
        margin-bottom: 20px;
      }
      .card-text {
        color: $color_base;
      }
    }
  }
  .btn-outline-secondary {
    font-size: 17px;
  }
}
