//-------------- sp --------------------

.page-title {
  text-align: center;
  padding: 1px 0;
  h1>span {
    position: relative;
    padding-bottom: calculateRem(20px);
    margin-bottom: calculateRem(20px);
    color: $color_red;
    font-size: 1.5625rem;
    font-weight: 700;
    margin-top: calculateRem(20px);
    &::after {
      content: "";
      width: calculateRem(187px);
      height: calculateRem(13px);
      background: url('../images/s-ic-dash-02.png') no-repeat;
      background-size: calculateRem(187px);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.trimText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  &.clamp4 {
    -webkit-line-clamp: 4;
  }
  &.clamp3 {
    -webkit-line-clamp: 3;
  }
  &.clamp2 {
    -webkit-line-clamp: 2; 
  }
  &.clamp5 {
    -webkit-line-clamp: 5;
  }
}
.title {
  &-xl {
    font-size: calculateRem(25px);
    text-align: center;
    padding: calculateRem(15px) calculateRem(15px);
    color: $color_red;
    font-weight: bold;
    color: #fff;
    &.type02 {
      background-color: #fff;
      color: $color_red;
    }
  }
}
.title-art {
  font-size: calculateRem(25px);
  font-weight: 900;
  font-style: italic;
  color: #fff;
  text-align: center;
  background: #d80000 url('../images/bg-title.png') left bottom no-repeat;
  background-size: calculateRem(120px);
  padding: calculateRem(30px) calculateRem(15px);
  margin-bottom: calculateRem(15px);
  &.type-02 {
    background: #d80000 url('../images/title-02.png') right bottom no-repeat;
    background-size: calculateRem(120px);
  }
}
.title-md {
  font-size: calculateRem(18px);
  color: #fff;
  font-weight: 700;
  text-align: center;
}
.title-lg {
  font-size: calculateRem(45px);
}
.text-headline {
  h2 {
    font-size: calculateRem(45px);
    font-weight: bold;
    color: $color_base;
    margin-bottom: calculateRem(30px);
    text-align: center;
  }
}
.real-estate-detail {
  .text-headline {
    h2 {
      text-align: left;
    }
  }
}
.title-g {
  font-size: calculateRem(30px);
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: calculateRem(15px) calculateRem(25px);
  border-radius: 100px;
}
.box-title {
  color: $color_base;
}
.title-red {
  background-color: $color_red;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
.contact-phome-number {
  background-color: $color_red;
  color: #fff;
  padding: 5px 15px;
  display: flex;  
  justify-content: space-between;
  align-items: center;
  .fa-phone {
    font-size: 25px;
    margin-right: 10px;
  }
  .phone-detail {
    align-items: center;
  }
}