body {
    background: #6d1d1d;
    background: linear-gradient(90deg, #6d1d1d 0, #c52527 44%, #cc3233 100%);
}

.page-content img {
    max-width: 100%;
    height: auto;
}




.header_top .navbar-collapse > ul > li:hover > a span {
    font-style: italic;
    transform-origin: bottom;
    font-weight: bold;
}
.main-menu > li.nav-item {
    position: relative;
}
@media (min-width: 767px) {   
    .ic-menu-sub {
        display: none;
    }
    .main-menu .sub-menu {
        position: absolute;
        top: 40px;
        left: -15px;
        background: #c82a2c;
        box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 0.1);
        color: #ffffff;
        transition: all 0.25s ease-in-out;
        z-index: -1;
        opacity: 0;
        height: 0;
        overflow: hidden;
    }
    
    .main-menu .sub-menu > li.nav-item {
        white-space: nowrap;
    }
    
    .main-menu .sub-menu > li + li {
        margin-left: 0;
    }
    
    .main-menu .sub-menu > li > a.nav-link {
        color: #ffffff;
        padding: 10px 20px;
        border-bottom: solid 1px #ac181a;
        transition: all 0.25s ease-in-out;
    }
    
    .main-menu .sub-menu > li > a.nav-link:hover {
        color: #030101;
    }
    
    .main-menu .sub-menu > li:last-child > a.nav-link {
        border-bottom: none;
    }
    .main-menu > li.nav-item:hover .sub-menu {
        top: 33px;
        z-index: 99;
        opacity: 1;
        height: initial;
    }
}
@media (max-width: 766px) {
    .nav-item .sub-menu {
        display: none;
        padding-left: 15px !important;
    }
    .ic-menu-sub.active {
        transform: rotate(0);
    }
    .sec-01 .message {
        margin-top: 40px;
    }
    .slider-about .slick-arrow {
        top: 32%;
    }
}
@media (max-width: 600px) {
    .c-list-news .c-list-item .c-list-content {
        width: 100%;
        border-radius: 0;
    }
    .c-list-news .c-list-item .c-list-thumbnail {
        width: 100%;
        border-radius: 0;
    }
    .c-list-news .c-list-item {
        flex-direction: column-reverse;
        border-radius: 15px;
        overflow: hidden;
    }
}