html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 0.7291666667rem;
}
@media (max-width: 1200px) {
  html {
    font-size: 1vw;
    line-height: 1.6254545455px;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 0.7291666667rem;
  }
}

* {
  -webkit-overflow-scrolling: touch;
  word-break: break-word;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

a,
span {
  display: inline-block;
  vertical-align: middle;
}

body {
  color: #696B6B;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

main {
  min-height: 50vh;
}

.sp {
  display: none !important;
}

a {
  color: #696B6B;
}
a:hover {
  text-decoration: none;
  color: #696B6B;
}

@media (max-width: 767px) {
  .sp {
    display: block !important;
  }

  .pc {
    display: none !important;
  }

  body {
    background: none !important;
  }
}
.bg-gradient {
  background: #6d1d1d;
  background: linear-gradient(90deg, #6d1d1d 0%, #c52527 44%, #cc3233 100%);
}

.img-fluid {
  width: 100%;
}

.image-cover {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.image-cover .img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100% !important;
  height: 100% !important;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-cover.image-cover--1x1 {
  padding-bottom: 100%;
}
.image-cover.image-cover--cycle {
  border-radius: 50%;
}
.image-cover.image-cover--16x9 {
  padding-bottom: 56.25%;
}
.image-cover.image-cover--4x3 {
  padding-bottom: 76%;
}
.image-cover.image-cover--100h {
  height: 100%;
}
.image-cover--contain {
  background: #f1f1f1;
}
.image-cover--contain .img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.image-cover--contain-h .img {
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

.animation {
  opacity: 0;
}

@-webkit-keyframes scrollOn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollOn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes scrollOff {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
@keyframes scrollOff {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
@-webkit-keyframes bounce {
  0%, to {
    transform: translateX(0);
  }
  56% {
    transform: translateX(8px);
  }
}
@keyframes bounce {
  0%, to {
    transform: translateX(0);
  }
  56% {
    transform: translateX(8px);
  }
}
.animation--on {
  -webkit-animation: scrollOn 0.5s ease-in-out forwards;
  animation: scrollOn 0.5s ease-in-out forwards;
}

.animation-delay .animation:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.animation-delay .animation:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.animation-delay .animation:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.animation-delay .animation:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.animation-delay .animation:nth-child(6) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.animation-delay .animation:nth-child(7) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@-webkit-keyframes scrollShowHeader {
  0% {
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scrollShowHeader {
  0% {
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.gradien-red {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.gradien-red::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 200%;
  height: 100%;
  z-index: -1;
  background: #cc3233;
  background: linear-gradient(90deg, #cc3233 0, #c92c2d 0, #6d1d1d 50%, #c92c2d 80%, #cc3233 100%);
  transition: all 0.5s;
}

.gradien-red:hover::after {
  right: -100%;
  transition: all 0.5s;
}

.mv-text .btn {
  width: 18.25rem;
  min-height: 3.875rem;
}

.btn.gradien-red {
  padding: 0.3125rem 0.625rem;
  min-height: 4rem;
  font-weight: 700;
  color: #fff;
  font-size: 1.5625rem;
  border-radius: 6.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.btn.btn-shadown {
  box-shadow: 0.3125rem 0.3125rem 0.75rem -0.3125rem rgba(0, 0, 0, 0.5);
}

.pagination-01 {
  align-items: center;
  padding: 3.4375rem 0;
}

.pagination-01 * {
  border: none;
}

.pagination-01 .page-link {
  font-size: 1.1875rem;
  position: relative;
  width: 5rem;
  height: 4.6875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-weight: 600;
  background-color: transparent !important;
  color: #696B6B;
  transition: all 0.3s;
}

.page-item.active .page-link,
.page-item:hover .page-link {
  font-size: 3rem;
}

.pagination-01 .page-link span {
  transition: transform 0.3s;
  color: #333;
}

.page-item.active .page-link {
  color: #696B6B;
}

.pagination-01 .page-link:after {
  content: "";
  width: 99%;
  height: 0.3125rem;
  background: #a76621;
  background: linear-gradient(90deg, #a76621 0, #d39835 40%, #f1b33b 50%, #d39835 60%, #a76621 100%);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 6.25rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.pagination-01 .active .page-link,
.pagination-01 .page-link:hover {
  background-color: transparent;
}

.pagination-01 .active .page-link:after,
.pagination-01 .page-link:hover:after {
  opacity: 1;
}

.pagination-01 .active .page-link.page-next,
.pagination-01 .page-link.page-prev:hover {
  background-color: transparent;
}

.box-shadown {
  box-shadow: 0.3125rem 0.3125rem 0.75rem 0 rgba(0, 0, 0, 0.5);
}

.logo {
  width: 21.75rem;
  transition: all 0.3s;
}

.logo img {
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    height: 8.5rem;
    position: relative;
  }
}
.header_top {
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header_top:after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/h-01.png), url(../images/h-02.png);
  background-position: center left, center right;
  background-repeat: no-repeat, no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  background-size: auto 100%, auto 100% !important;
}

.header_top .navbar {
  z-index: 9;
}

.header_top .navbar-collapse > ul > li > a {
  font-size: 1.1875rem;
  position: relative;
}

.header_top .navbar-collapse > ul > li > a span {
  color: #fff !important;
  text-transform: capitalize;
  transition: all 0.3s;
}

.header_top .navbar-collapse > ul > li > a:after {
  content: "";
  width: 0;
  height: 0.1875rem;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3.125rem;
  transition: all 0.3s;
}

.header_top .navbar-collapse > ul > li > a.active span,
.header_top .navbar-collapse > ul > li > a:hover span {
  font-style: italic;
  transform-origin: bottom;
  font-weight: bold;
}

.header_top .navbar-collapse > ul > li > a.active:after,
.header_top .navbar-collapse > ul > li > a:hover:after {
  width: 3.75rem;
  background-color: #fff;
}

.header_top .form--search {
  position: relative;
}

.header_top .navbar-nav li + li {
  margin-left: 1.5rem;
}

.form--search {
  width: 5.2rem;
  height: 3.25rem;
  text-align: right;
  margin-left: 1.5rem;
  position: relative;
}

.form--search .form-control {
  width: 100%;
  height: 3.25rem;
  border: 0.125rem solid #fff;
  border-radius: 6.25rem;
  padding-right: 3.75rem;
  padding-left: 1.25rem;
  background: #c52527;
  color: #fff;
  transition: all 0.8s;
  display: inline-block;
}

@media (min-width: 768px) {
  .form--search .form-control {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 41.875rem;
  }
  .form--search .form-control.active {
    transition: all 0.8s;
    width: 100vw;
  }
}
.form--search ::-moz-placeholder {
  color: #fff;
  opacity: 1;
}

.form--search :-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form--search ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}

.form--search ::placeholder {
  color: #fff;
  opacity: 1;
}

.form--search :-ms-input-placeholder {
  color: #fff;
}

.form--search ::-ms-input-placeholder {
  color: #fff;
}

:focus {
  box-shadow: none;
  outline: 0;
}

.form-control:focus {
  box-shadow: none;
  outline: 0;
}

.mv-text {
  position: absolute;
  max-width: 41.25rem;
  top: 0;
  right: 0;
}

.mv-text .jumbotron {
  background: 0 0;
  color: #fff;
  background: rgba(203, 47, 48, 0.6);
}

.mv-text .jumbotron h2 {
  font-size: 5.625rem;
  font-style: italic;
  font-weight: 600;
}

.mv-text .jumbotron .desc {
  margin-bottom: 3.125rem;
}

.swiper-container {
  padding-bottom: 2.8125rem;
}

.animationAll {
  opacity: 0;
  transition: all 0.3s;
}

.animationAll.fadeLeft {
  transform: translateX(-30%);
  transition-delay: 0.5s;
}

.animationAll:nth-child(2) {
  transition-delay: 0.8s;
}

.animationAll:nth-child(3) {
  transition-delay: 1.1s;
}

.swiper-slide-active .animationAll {
  opacity: 1;
  transition-delay: 0.5s;
}

.swiper-slide-active .animationAll.fadeLeft {
  transform: translateX(0);
  transition-delay: 0.5s;
}

.swiper-slide-active .animationAll:nth-child(2) {
  transition-delay: 0.8s;
}

.swiper-slide-active .animationAll:nth-child(3) {
  transition-delay: 1.1s;
}

.swiper-pagination-bullet {
  background-color: #fff !important;
  margin: 0 0.625rem !important;
  width: 0.75rem;
  height: 0.75rem;
  transform: scale(0.8);
  transition: all 0.5s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1);
  transition: all 0.5s;
}

.swiper-button-next,
.swiper-button-prev {
  width: auto;
  height: auto;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next {
  right: 5%;
}

.swiper-button-prev {
  left: 5%;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0.625rem;
  left: 0;
  width: 100%;
}

.card {
  border: none;
}

.card-01 {
  margin-bottom: 2.1875rem;
}

.card-01 .card-title {
  font-size: 2.375rem;
}

.card-01 .card-btn {
  text-align: center;
}

.card-01 .card-text {
  margin-bottom: 3.75rem;
}

.card-01 .btn {
  width: 100%;
  max-width: 12.5rem;
}

.card-02 {
  background-color: #fff;
  border-radius: 1.25rem;
  box-shadow: 0.3125rem 0.3125rem 0.75rem -0.3125rem rgba(0, 0, 0, 0.8);
  overflow: hidden;
  height: 100%;
}

.animation-delay .animation {
  margin-bottom: 2.5rem;
}

.card-02 .card-img-top {
  margin-bottom: 15px;
}

.card-02 .card-title {
  font-size: 1.5625rem;
  margin-bottom: 0.9375rem;
}

.card-02 .card-body {
  padding-bottom: 2rem;
}

.card-03 {
  background-color: transparent;
  height: 100%;
}

.card-03 .card-img-top {
  position: relative;
  border-radius: 0.9375rem;
  overflow: hidden;
  background-color: #fff;
}

.card-03 .card-img-top .thumbnail {
  border-radius: 0.9375rem;
  overflow: hidden;
}

.card-03 .card-img-top .card-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0;
  padding: 1rem 0.9375rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  justify-items: center;
}
.card-03 .card-img-top .card-title span {
  width: 100%;
}

.card-03 .card-body {
  background-color: transparent;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.card-03 .card-text {
  text-align: justify;
}

.card-03 .btn {
  width: 13.4375rem;
  height: 2.875rem;
  font-size: 1.625rem;
  margin-bottom: 2.5rem;
}

.section-partner {
  padding-top: 2.8125rem;
}

.section-partner a.btn.gradien-red {
  width: 25.875rem;
  height: 7rem;
}

.section-partner .gradien-red:hover::after {
  right: 0 !important;
}

.section-03 {
  padding-top: 4rem;
}

.section-01 {
  padding-top: 7rem;
}

.section-04 {
  padding-top: 7rem;
  padding-bottom: 3.75rem;
}

.section-04 article {
  margin-bottom: 7rem;
}

.section-05 {
  padding-top: 7rem;
  padding-bottom: 3.75rem;
}

.section-05 article {
  margin-bottom: 3.75rem;
}

.grid.grid-01 {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid.grid-01 .item {
  width: 20%;
  padding: 0 2.5%;
}

.list-social {
  display: flex;
}

.list-social li + li {
  margin-left: 1.6875rem;
}

.title-group {
  margin-bottom: 3.75rem;
}

.title-group h3 {
  font-size: 2.5625rem;
  text-align: center;
  margin-bottom: 0.9375rem;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title-group .tag-cate {
  text-align: center;
}

.title-group .tag-cate .btn {
  min-width: 9.8125rem;
  min-height: 2.6875rem;
}

.title-img {
  display: inline-block;
  max-width: 38rem;
}

.title-img-02 {
  max-width: 46.5rem;
}

.block-title {
  text-align: center;
}

.block-title.type-01 {
  margin-bottom: 6.25rem;
}

.dash-slogan {
  height: 11.25rem;
  background: url(../images/dash.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
}

.dash-slogan h5 {
  font-size: 3.75rem;
  font-weight: 700;
  font-style: italic;
  color: #fff;
  text-shadow: 0.125rem 0.0625rem 0.125rem #969696;
}

.footer {
  padding: 3.125rem 0;
}

.footer_top {
  font-size: 1.8125rem;
  line-height: 2.3125rem;
  padding-bottom: 2.5rem;
}

.footer_bottom {
  text-align: center;
  color: #fff;
  font-size: 1.8125rem;
  line-height: 2.3125rem;
}

.footer_bottom p {
  margin-bottom: 1.25rem;
}

.footer_bottom .list-social {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.screen-06 .text-headline h2 {
  margin-bottom: 1.25rem;
}

.screen-06 .text-headline p {
  margin-bottom: 2.5rem;
}

.screen-06 .card-text {
  color: #696969;
  margin-top: 1rem;
  margin-bottom: 1.75rem;
}

.screen-06 .card-items {
  margin-top: 1.25rem;
}

.screen-06 .card-03 .card-img-top,
.screen-06 .card-03 .card-img-top .thumbnail {
  border-radius: 0;
}

.screen-06 .text-items .list-items > div {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.screen-06 .text-items .text-justify {
  margin-bottom: 1.875rem;
}

.screen-06 .text-items .text-justify h3 {
  margin-bottom: 1.25rem;
  position: relative;
}

.screen-06 .text-items .text-justify h3::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.875rem;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 62.5rem;
  background: #cc3233;
}

.screen-06 .contact-form {
  padding-bottom: 3.75rem;
  max-width: 58.75rem;
  margin: 0 auto;
}

.screen-06 .contact-form h1 {
  margin-bottom: 3.125rem;
}

.c-list-news.type-02 h3 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.c-list-news.type-02 h4 {
  font-size: 2rem;
  margin-top: 6.25rem;
  margin-bottom: 1.875rem;
}

.screen-05 .section-01 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.screen-05 .map-05 {
  margin-top: 5.625rem;
  margin-bottom: 6.25rem;
}

.screen-06 .section-01 h2 {
  font-size: 3.9375rem;
}

.screen-06 .section-01 h2.title-02 {
  font-size: 9.375rem;
  font-weight: 700;
  line-height: 1;
}

.media-s601 h5 {
  font-size: 4.8vw;
  padding-top: 0.625rem;
}

.btn.btn-default {
  width: 16.375rem;
  height: 4.4375rem;
  position: relative;
}

.block-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.block-button em {
  display: block;
  margin-bottom: 0.9375rem;
}

.section-s3-01 {
  background-color: #fff;
  padding-bottom: 3.125rem;
}

.section-s3-01 .thumbnail {
  margin-bottom: 3.125rem;
}

.slider01,
.slider02 {
  position: relative;
}

.slider01 .image-cover.image-cover--16x9 {
  padding-bottom: 0;
  height: calc(100vh - 12rem);
}

.slider02 {
  padding: 0 0.9375rem;
  overflow: hidden;
}

.slider02 .slider-content {
  overflow: hidden;
}

.area-slider {
  position: relative;
}

.area-slider .swiper-button-next-02,
.area-slider .swiper-button-prev-02 {
  width: 3.1875rem;
  height: 3.1875rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 999;
  position: absolute;
  top: 16%;
}

.area-slider .swiper-button-prev-02 {
  transform: rotate(90deg);
  padding-top: 0.3125rem;
  left: -3.125rem;
}

.area-slider .swiper-button-next-02 {
  transform: rotate(-90deg);
  padding-top: 0.3125rem;
  right: -3.125rem;
}

.trimText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
}

.trimText.clamp4 {
  -webkit-line-clamp: 4;
}

.trimText.clamp2 {
  -webkit-line-clamp: 2;
}

.trimText.clamp3 {
  -webkit-line-clamp: 3;
}

.navbar-brand {
  width: 21.75rem;
}

.navbar-brand img {
  width: 100%;
}

.mv-text h2 {
  font-weight: 900 !important;
}

.mv-text.mv-text--02 {
  top: auto;
  bottom: 0;
  min-width: 100%;
  max-width: 100%;
  position: absolute;
  padding: 1.15vw 0;
  background-color: rgba(197, 37, 39, 0.6);
}

.mv-text.mv-text--02 .jumbotron {
  padding: 0 !important;
}

.mv-text.mv-text--02 .jumbotron h2 {
  text-align: center;
  font-size: 4.5rem;
}

.mv-text.mv-text--02 .jumbotron .desc {
  text-align: center;
  font-size: 2.8vw;
  margin-bottom: 2.3vw;
}

.item-04 {
  width: 100%;
  height: 800px;
}

.slider03 {
  text-align: center;
  position: relative;
  background: #fff;
}
.slider03 .reverse {
  transform: rotate(-180deg);
}
.slider03 .swiper-slide:hover {
  opacity: 0.8;
}
@media (min-width: 768px) {
  .slider03 .gallery-top .image-cover--16x9 {
    padding: 0;
    height: calc(100vh - 21.5rem);
  }
  .slider03 .gallery-top .swiper-button-prev,
.slider03 .gallery-top .swiper-button-next {
    top: 48%;
  }
  .slider03 .gallery-top .swiper-button-prev:hover img,
.slider03 .gallery-top .swiper-button-next:hover img {
    background-color: #fff;
    border-radius: 10px;
  }
  .slider03 .swiper-container.gallery-thumbs .swiper-wrapper {
    justify-content: center;
  }
  .slider03 .swiper-container.gallery-thumbs .title {
    font-size: 16px;
    text-align: justify !important;
  }
}
@media (max-width: 767px) {
  .slider03 .gallery-top .swiper-button-next img, .slider03 .gallery-top .swiper-button-prev img {
    width: 40px;
  }
}
.slider03 .gallery-thumbs-wrap {
  background: #ffffff;
  z-index: 99;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  position: relative;
}
.slider03 .gallery-thumbs-wrap .swiper-button-prev {
  left: 0;
  z-index: 99;
}
.slider03 .gallery-thumbs-wrap .swiper-button-next {
  right: 0;
  z-index: 99;
}
.slider03 .gallery-thumbs-wrap .gallery-thumbs .image-cover.image-cover--16x9 {
  width: 176px !important;
  height: 123px !important;
  padding: 0 !important;
}
.slider03 .gallery-thumbs-wrap .gallery-thumbs .swiper-slide {
  width: auto;
}
.slider03 .gallery-thumbs-wrap .gallery-thumbs .swiper-wrapper {
  justify-content: center;
}
@media (max-width: 767px) {
  .slider03 .gallery-thumbs-wrap .gallery-thumbs .image-cover.image-cover--16x9 {
    width: 100px !important;
    height: 70px !important;
    padding: 0 !important;
  }
  .slider03 .gallery-thumbs-wrap .gallery-thumbs .swiper-button-prev img,
.slider03 .gallery-thumbs-wrap .gallery-thumbs .swiper-button-next img {
    width: 15px;
  }
}

.slider03 .swiper-pagination-03 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: auto;
  bottom: 1.25rem;
}

.form--search .form-control {
  background-size: 1.875rem 1.8125rem;
}

.header_top:after {
  background-size: 6.6875rem 15.125rem, 6.6875rem 15.125rem;
}

.c-list-news {
  padding-left: 3.125rem;
  padding-bottom: 1.5rem;
}
.c-list-news + .c-list-news {
  padding-top: 1.25rem;
}

.c-list-item {
  display: flex;
  position: relative;
  border-radius: 1.25rem;
}

.c-list-item + .c-list-item {
  margin-top: 4.375rem;
}

.c-list-item .link {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  left: -3.5rem;
}

.c-list-item .c-list-content {
  width: 60%;
  background-color: #fff;
  padding: 1.5625rem;
  border-radius: 1.25rem 0 0 1.25rem;
  overflow: hidden;
}

.c-list-item .c-list-content .c-list-title {
  font-size: 1.5625rem;
  text-align: center;
  margin-bottom: 1.25rem;
  font-weight: bold;
}

.c-list-item .c-list-content .c-list-text {
  margin-bottom: 1.25rem;
}

.c-list-item .c-list-thumbnail {
  width: 40%;
  border-radius: 0 1.25rem 1.25rem 0;
  overflow: hidden;
}

.c-list-active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 65%;
  min-width: 28.125rem;
  margin: 0 auto;
  position: relative;
}

.c-list-active:after {
  content: "";
  width: calc(100% - 100rem / 16);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0.25rem;
  background-color: #b32325;
  z-index: -1;
}

.c-list-active .c-actice {
  z-index: 9;
}

.section-active .section-header {
  padding-top: 50px;
}

.section-active .section-header p {
  max-width: 75rem;
  margin: auto;
}

.section-active .title {
  text-align: center;
  font-size: 3.9375rem;
  margin-bottom: 2.1875rem;
  font-weight: 600;
  font-style: italic;
}

.section-new .block-news h3 {
  font-size: 2rem;
  font-weight: bold;
  font-style: italic;
}

.card-01 .card-title {
  text-align: center;
}

.card-01 .card-text {
  text-align: justify;
}

.card.card-05 {
  background-color: transparent;
  position: relative;
  padding-bottom: 1.875rem;
}

.card.card-05::after {
  content: "";
  width: 60%;
  height: 0.3125rem;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: 100%;
}

.card.card-05 .card-img-top {
  border-radius: 1.25rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}

.card.card-05 .card-title {
  font-size: 1.5625rem;
  margin-bottom: 1.875rem;
  color: #fff;
}

.card.card-05 .card-text {
  color: #fff;
}

.card.card-05 .card-body {
  text-align: center;
}

.media-02 + .media {
  margin-top: 3.4375rem;
}

.media-02 .media-body h5 {
  font-size: 19px;
  margin-bottom: 1.25rem;
  font-weight: 600;
  height: 44px;
}

.media-02 .media-body p {
  font-size: 1.1875rem;
  text-align: justify;
  margin-bottom: 25px;
}

.media-02 .thumbnail {
  width: 300px;
  margin-top: 0;
  margin-right: 25px;
}

.form-01 {
  max-width: 59.125rem;
  margin: 0 auto;
}

.form-01 .btn {
  height: 4.8125rem;
  width: 100%;
  border-radius: 6.25rem !important;
  background: #f1b33b;
  background: linear-gradient(180deg, #f1b33b 0, #a76621 100%);
  font-size: 3rem;
  border: none;
  color: #fff;
  font-weight: 700;
}

.form-01 .title {
  font-size: 3.9375rem;
  font-weight: 700;
}

.form-01 .form-control {
  border: none;
  height: 4.8125rem;
}

.form-01 .form-group.line {
  position: relative;
}

.form-01 .form-group.line .form-control {
  font-size: 16px;
}

.form-01 .form-group.line:after {
  content: "";
  width: calc(100% - 30px);
  height: 3px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: auto;
  bottom: 0;
  background: #a76621;
  background: linear-gradient(180deg, #a76621 0, #d39835 40%, #f1b33b 50%, #d39835 60%, #a76621 100%);
}

.form-01 .form-group.line label {
  font-size: 1.6875rem;
  line-height: 4.8125rem;
  width: 100%;
  position: relative;
}

.form-01 .form-group.line label:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #a76621;
  background: linear-gradient(90deg, #a76621 0, #d39835 40%, #f1b33b 50%, #d39835 60%, #a76621 100%);
}

.form-01 .form-group .upload-btn {
  padding: 3px;
  background: #a76621;
  height: 4.8125rem;
  background: linear-gradient(90deg, #a76621 0, #d39835 40%, #f1b33b 50%, #d39835 60%, #a76621 100%);
}

.form-01 .form-group .upload-btn label {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 1.1875rem;
  font-size: 2.75rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  text-align: center;
}

.ic-arrow-d,
.ic-arrow-r,
.ic-arrow-triang,
.ic-face,
.ic-next,
.ic-phone,
.ic-prev,
.ic-search,
.ic-triang-r,
.ic-what,
.ic-youtube,
.step-01,
.step-02,
.step-03 {
  display: inline-block;
  background: url(../images/sprite01.png) no-repeat;
  background-size: 7.75rem 58.0625rem;
  overflow: hidden;
  text-indent: -624.9375rem;
  text-align: left;
}

.step-01 {
  background-position: -2px 0;
  width: 7.5rem;
  height: 7.4375rem;
}

.step-02 {
  background-position: -0.125rem -7.5625rem;
  width: 7.5rem;
  height: 7.4375rem;
}

.step-03 {
  background-position: -0.125rem -15.125rem;
  width: 7.4375rem;
  height: 7.4375rem;
}

.ic-triang-r {
  background-position: -0.125rem -22.6875rem;
  width: 6.875rem;
  height: 7.1875rem;
}

.ic-face {
  background-position: -0.125rem -30rem;
  width: 5.25rem;
  height: 5.125rem;
}

.ic-phone {
  background-position: -0.125rem -35.25rem;
  width: 5.25rem;
  height: 5.125rem;
}

.ic-what {
  background-position: -0.125rem -40.5rem;
  width: 5.25rem;
  height: 5.125rem;
}

.ic-youtube {
  background-position: -0.125rem -45.75rem;
  width: 5.25rem;
  height: 5.125rem;
}

.ic-prev {
  background-position: -0.125rem -51rem;
  width: 3.625rem;
  height: 3.4375rem;
}

.ic-next {
  background-position: -3.875rem -51rem;
  width: 3.5rem;
  height: 3.4375rem;
}

.ic-arrow-r {
  background-position: -0.125rem -54.5625rem;
  width: 2.75rem;
  height: 3.375rem;
}

.ic-arrow-d {
  background-position: -3rem -54.5625rem;
  width: 2.375rem;
  height: 1.4375rem;
}

.ic-arrow-triang {
  background-position: -3rem -56.125rem;
  width: 2.3125rem;
  height: 1.25rem;
}

.ic-search {
  background-position: -5.5rem -30rem;
  width: 1.875rem;
  height: 1.8125rem;
}

.ic-arrow-r.prev {
  transform: rotate(180deg);
}

.section-active {
  padding-bottom: 3.125rem;
}

.section-processing {
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
}

.section-processing .section-header {
  max-width: 75rem;
  margin: 0 auto;
  margin-bottom: 3.125rem;
}

.section-processing .section-header .img-fluid {
  width: 14.625rem;
}

.section-processing .card-text {
  color: #696b6b;
}

.section-form {
  padding-bottom: 6.25rem;
}

.section-s7lock01 {
  padding-top: 5rem;
}

.sub-mit {
  position: absolute;
  top: 0.5625rem;
  right: 1.25rem;
  z-index: 99;
  border: none;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-mit:hover {
  cursor: pointer;
}

.list-infos-post strong {
  font-weight: 600;
}

.slider-about .slick-current {
  overflow: hidden;
}
.slider-about .slick-current .card.card-about {
  transform: scale(1.5);
}
.slider-about .slick-arrow {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #c52527 url("../images/icon/ic-arrow-d.png") center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 37%;
  opacity: 0.6;
  font-size: 0;
  transition: all 0.3s;
}
.slider-about .slick-arrow.slick-prev {
  left: -30px;
  transform: rotate(90deg);
}
.slider-about .slick-arrow.slick-next {
  right: -30px;
  transform: rotate(-90deg);
}
.slider-about .slick-arrow:hover {
  cursor: pointer;
  opacity: 1;
}

.form-02 .form-group .upload-btn {
  padding: 3px;
  background: #a76621;
  height: 46px;
  background: linear-gradient(90deg, #a76621 0, #d39835 40%, #f1b33b 50%, #d39835 60%, #a76621 100%);
}

.form-02 .form-group .upload-btn label {
  background-color: #fff;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  font-size: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}

.upload-btn label,
.upload-btn:hover {
  cursor: pointer;
}

.form-02 input.form-control, .form-02 select.form-control {
  height: 36px;
}
.form-02 .form-control {
  font-size: 15px;
}

.slider05 .slick-arrow {
  width: 50px;
  height: 46px;
  background: url("../images/icon/ic-control-slider03.png") center no-repeat;
  background-size: contain;
  display: inline-block;
  border: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  margin-top: -23px;
  position: absolute;
  z-index: 99;
}
.slider05 .slick-arrow.slick-prev {
  left: -50px;
  transform: rotate(180deg);
}
.slider05 .slick-arrow.slick-next {
  right: -50px;
}
@media (max-width: 1300px) {
  .slider05 .slick-arrow.slick-prev {
    left: 20px;
  }
  .slider05 .slick-arrow.slick-next {
    right: 20px;
  }
}

.page-link:focus {
  box-shadow: none;
}

.upload-btn label, .upload-btn:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
  outline: none;
}

.thumbnail a {
  display: block;
}

.bg-gray {
  background-color: #dddddd;
}

.text-gray {
  color: #696B6B;
}

.breadcrumb-01 {
  padding-bottom: 10px;
}
.breadcrumb-01 .breadcrumb {
  background-color: #c52527;
  margin-bottom: 0;
}
.breadcrumb-01 .breadcrumb li a {
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}
.breadcrumb-01 .breadcrumb li:last-child a {
  pointer-events: none;
}
.breadcrumb-01 .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: "";
  width: 10px;
  height: 13px;
  background: url(../images/icon/ic-next-w.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin: 0 5px;
}

.rounded-lg {
  border-radius: 8px;
}

.hr-red {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  border-top: 2px solid #c52527;
}

@media (max-width: 767px) {
  .btn.gradien-red {
    font-size: 1.1875rem;
  }

  .title-group {
    margin-bottom: 2rem;
  }

  .form-01 .title {
    font-size: 25px;
    color: #c52527;
    margin-bottom: 40px;
  }
  .form-01 label {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .form-01 .form-group.line label {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    position: relative;
  }
  .form-01 .form-group.line label::after {
    content: none !important;
  }
  .form-01 .form-group.line::after {
    content: none !important;
  }
  .form-01 textarea.form-control {
    border: 1px solid #cccccc;
    height: auto;
    border-radius: 0;
  }
  .form-01 .form-control {
    font-size: 16px !important;
    line-height: 1.4;
  }
  .form-01 .form-group-upload {
    margin-top: 30px;
  }
  .form-01 .form-group-upload .col-sm-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .form-01 .form-group-upload .upload-btn {
    background: none;
    padding: 0;
    margin-bottom: 30px;
  }
  .form-01 .form-group-upload .upload-btn label {
    border: 1px solid #cccccc;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-01 .btn {
    height: 42px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    max-width: 200px;
    margin: auto;
    display: block;
  }
}
article p {
  margin-bottom: 0.9375rem;
  font-size: 16px;
}
article h2 {
  margin-bottom: 2.5rem;
  font-size: 28px;
}
article h3 {
  margin-bottom: 2.1875rem;
  font-size: 18px;
}
article h4 {
  margin-bottom: 1.875rem;
  font-size: 16px;
}
article h5 {
  margin-bottom: 1.5625rem;
  font-size: 14px;
}
article h6 {
  margin-bottom: 1.25rem;
}
article img {
  width: 100%;
}

.scala2x {
  transform: scale(2);
}

.ic-right-red-small {
  width: 20px;
  height: 20px;
  position: relative;
  background: url("../images/icon/ic-triang-r.png") no-repeat;
  background-size: contain;
  border-radius: 50%;
  display: inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #c52527 inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  font-size: 1.1875rem;
}

.video-background {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.btn-orange {
  background-color: orangered;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.fz16 {
  font-size: 16px;
}

.w-60 {
  width: 60px;
}

strong {
  font-weight: 600;
}

.activeHeader .header_top {
  padding: 0.9375rem 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: linear-gradient(90deg, #6d1d1d 0, #c52527 44%, #cc3233 100%);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}
.activeHeader .header_top .logo {
  width: 16rem;
  transition: all 0.3s;
}
.activeHeader .header_top .navbar-collapse > ul > li > a.active span, .activeHeader .header_top .navbar-collapse > ul > li > a:hover span {
  transform: scale(1);
}
@media (min-width: 768px) {
  .activeHeader .header_top {
    -webkit-animation: scrollShowHeader 0.3s ease-in-out forwards;
    animation: scrollShowHeader 0.3s ease-in-out forwards;
  }
}
@media (max-width: 767px) {
  .activeHeader .header_top {
    background: #fff;
  }
  .activeHeader .header_top .logo {
    width: 10rem;
    transition: all 0.3s;
  }
}

@media (max-width: 767px) {
  .sub-mit {
    position: absolute;
    top: 22px;
    right: 20px;
    z-index: 99;
    border: none;
    background: transparent;
  }

  html {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .logo {
    width: 130px;
  }

  .header {
    background: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
  }
  .header_top {
    padding: 15px 0;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
    background: #fff;
  }

  .mv-text.mv-text--02 .jumbotron h2 {
    font-size: 3.5rem;
  }

  .navbar-light .navbar-toggler {
    border: none;
    position: relative;
    padding: 0;
    width: 24px;
    height: 18px;
    border-radius: 0;
  }
  .navbar-light .navbar-toggler .icon-menu {
    width: 100%;
    height: 3px;
    background-color: #696B6B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-light .navbar-toggler .icon-menu:after, .navbar-light .navbar-toggler .icon-menu:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #696B6B;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .navbar-light .navbar-toggler .icon-menu:after {
    margin-top: 9px;
  }
  .navbar-light .navbar-toggler .icon-menu:before {
    margin-top: -9px;
  }

  .header_top .navbar-collapse > ul > li > a span {
    color: #696B6B !important;
  }
  .header_top .navbar-collapse .navbar-nav {
    padding-top: 1.875rem;
  }

  .header_top .navbar-collapse > ul > li > a.active span,
.header_top .navbar-collapse > ul > li > a:hover span {
    transform-origin: left;
  }

  .header_top .navbar-nav li + li {
    margin-left: 0;
  }

  .area-slider .swiper-button-next-02 {
    right: 15px;
    top: 26%;
    opacity: 0.8;
  }
  .area-slider .swiper-button-next-02:hover {
    opacity: 1;
  }
  .area-slider .swiper-button-prev-02 {
    left: 15px;
    top: 26%;
    opacity: 0.8;
  }
  .area-slider .swiper-button-prev-02:hover {
    opacity: 1;
  }

  .js-active-search {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  .active-search .form--search {
    transform: translateY(0);
    opacity: 1;
  }

  .form--search {
    width: 100%;
    left: 0;
    top: 0;
    position: fixed !important;
    margin: 0;
    background: #fff;
    padding: 15px;
    height: auto;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
    z-index: 99;
  }

  .slider01 .image-cover.image-cover--16x9 {
    padding-bottom: 0;
    height: 500px;
  }
}
body {
  margin: 0 auto;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 767px) {
  body {
    padding-top: 71px;
  }
}
.slider04 img {
  width: initial;
}

#back-top {
  position: fixed;
  bottom: 3.125rem;
  right: 6.25rem;
  z-index: 999;
  transform: rotate(-90deg);
}

.footer .list-infos {
  margin-top: 1.875rem;
}
.footer .list-infos li {
  position: relative;
  width: 100%;
  padding-left: 2.5rem;
  font-size: 1.1875rem;
  text-align: left;
}
.footer .list-infos li span {
  color: #696B6B;
}
.footer .list-infos li em {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.footer .f-title-01 {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 4px;
  color: #A00505;
  font-size: 1.25rem;
  text-align: left;
  display: inline-block;
}
.footer .f-title-01:after {
  content: "";
  width: 100%;
  max-width: 300px;
  height: 2px;
  background-color: #A00505;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 767px) {
  .footer {
    background-color: #fff;
    padding-top: 0;
  }

  .list-unstyled.list-social {
    transform: scale(0.5);
    transform-origin: left;
  }

  .footer_top {
    padding-bottom: 0;
  }

  #back-top {
    right: 1.875rem;
  }
}
.icon-global, .icon-mail, .icon-local, .icon-phone {
  display: inline-block;
  background: url("../images/sprite02.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.icon-global {
  background-position: -3px 0px;
  width: 19px;
  height: 20px;
}

.icon-mail {
  background-position: -3px -23px;
  width: 18px;
  height: 13px;
}

.icon-local {
  background-position: -3px -39px;
  width: 16px;
  height: 21px;
}

.icon-phone {
  background-position: -3px -63px;
  width: 16px;
  height: 17px;
}

@media (max-width: 767px) {
  .ic-arrow-r {
    width: 20px;
    height: 23px;
    background: url("../images/ic-next.png") no-repeat;
    background-size: contain;
  }

  .s-ic-home, .s-ic-search-1, .s-ic-video-1, .s-ic-arrow-r-1 {
    display: inline-block;
    background: url("../images/icons.png") no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
  }

  .s-ic-home {
    background-position: -3px 0px;
    width: 32px;
    height: 31px;
  }

  .s-ic-search-1 {
    background-position: -3px -34px;
    width: 23px;
    height: 24px;
  }

  .s-ic-video-1 {
    background-position: -3px -61px;
    width: 21px;
    height: 25px;
  }

  .s-ic-arrow-r-1 {
    background-position: -3px -89px;
    width: 10px;
    height: 10px;
  }
}
.icon-email {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: orangered url("../images/icon/email.png") center no-repeat;
  background-size: 20px;
}

.ic-menu-sub {
  width: 40px;
  height: 32px;
  background: url(../images/icon/ic-arrow-triang.png) center no-repeat;
  background-size: 15px;
  vertical-align: middle;
  transform: rotate(-90deg);
  position: absolute;
  top: 0;
  right: -8px;
  z-index: 999;
  transition: all 0.3s;
}
.ic-menu-sub:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ic-control-slider03 {
  width: 79px;
  height: 74px;
  background: url("../images/icon/ic-control-slider03.png") center no-repeat;
  display: inline-block;
  background-size: contain;
}
.ic-control-slider03.small {
  width: 50px;
  height: 46px;
}

@media (max-width: 767px) {
  .ic-control-slider03 {
    width: 50px;
    height: 46px;
    background: url("../images/icon/ic-control-slider03.png") center no-repeat;
    display: inline-block;
  }
}
.section-partner .btn {
  font-size: 3.5rem;
}

@media (max-width: 767px) {
  .section-new .block-news h3 {
    font-size: 2rem;
  }
  .section-01 {
    padding-top: 30px;
  }

  .c-list-news {
    padding-left: 0;
  }

  .section-active .title {
    font-size: 3rem;
  }

  .section-partner a.btn.gradien-red {
    width: 12rem;
    height: 5rem;
    font-size: 1.5625rem;
  }

  .section-active {
    padding-bottom: 1px;
  }
}
.content-about {
  padding-top: 50px;
}
.content-about .c-title-md {
  font-size: 2.3125rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #c52527;
  text-align: center;
}
.content-about .c-title-sm {
  font-size: 19px;
  font-weight: 600;
  color: #c52527;
  margin-bottom: 20px;
}
.content-about .sec-01 .sec-content {
  margin-bottom: 40px;
}
.content-about .sec-01 .sec-content .infos .thumbnail {
  margin-bottom: 20px;
}
.content-about .sec-01 .sec-content .name, .content-about .sec-01 .sec-content .regency {
  text-align: center;
  padding-right: 18%;
}
.content-about .sec-01 .sec-content .name span, .content-about .sec-01 .sec-content .regency span {
  font-size: 16px;
  font-weight: 600;
}
.content-about .sec-01 .sec-content .name strong, .content-about .sec-01 .sec-content .regency strong {
  font-size: 19px;
  font-weight: bold;
  color: #c52527;
}
.content-about .sec-01 .sec-content .text {
  margin-bottom: 20px;
}
.content-about .sec-01 .sec-content .card-text {
  color: #696B6B;
}
.content-about .btn-outline-secondary {
  font-size: 17px;
}

.card .card-title {
  font-weight: bold;
  color: #696B6B;
}
.card-05 .card-title {
  min-height: 4.2rem;
}
.card-mail {
  border: 2px solid #cccccc;
  position: relative;
}
.card-mail .form-control {
  height: 40px;
}
.card-mail .icon-email {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.card-mail h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}
.card.card-about {
  background-color: transparent;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  transition: all 0.5s;
}
.card.card-about .thumbnail {
  width: 80%;
  max-width: 18.75rem;
  margin: 0 auto;
  transition: all 0.5s;
}
.card.card-about .card-name {
  font-size: 20px;
  font-weight: bold;
  transition: all 0.5s;
}
.card.card-about .card-text {
  font-size: 13px;
  font-weight: bold;
  color: #c52527;
  transition: all 0.5s;
}
.card.card-contact tr > td {
  vertical-align: middle;
}
.card.card-contact tr > td strong {
  font-weight: 600;
}
.card.card-contact .fa-map-marker {
  font-size: 20px;
}

#sticky-sidebar .sticky-top {
  top: 100px;
  z-index: 99;
}

.section-slider-about {
  background: #F3F1EF url("../images/icon/about-deco-01.png") right bottom no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: 40%;
}

@media (max-width: 767px) {
  .card-05 .card-title {
    min-height: 0;
  }

  .card-01 {
    margin-bottom: 0;
  }
  .card-01 .card-text {
    margin-bottom: 2rem;
  }
}
.s-ic-home {
  display: inline-block;
  background: url("../images/icons.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}

.s-ic-home {
  background-position: -3px 0;
  width: 32px;
  height: 31px;
}

.page-title {
  text-align: center;
}

.page-title {
  text-align: center;
  padding: 1px 0;
}
.page-title h1 > span {
  position: relative;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
  color: #c52527;
  font-size: 1.5625rem;
  font-weight: 700;
  margin-top: 1.25rem;
}
.page-title h1 > span::after {
  content: "";
  width: 11.6875rem;
  height: 0.8125rem;
  background: url("../images/s-ic-dash-02.png") no-repeat;
  background-size: 11.6875rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.trimText {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  -webkit-line-clamp: 1;
}
.trimText.clamp4 {
  -webkit-line-clamp: 4;
}
.trimText.clamp3 {
  -webkit-line-clamp: 3;
}
.trimText.clamp2 {
  -webkit-line-clamp: 2;
}
.trimText.clamp5 {
  -webkit-line-clamp: 5;
}

.title-xl {
  font-size: 1.5625rem;
  text-align: center;
  padding: 0.9375rem 0.9375rem;
  color: #c52527;
  font-weight: bold;
  color: #fff;
}
.title-xl.type02 {
  background-color: #fff;
  color: #c52527;
}

.title-art {
  font-size: 1.5625rem;
  font-weight: 900;
  font-style: italic;
  color: #fff;
  text-align: center;
  background: #d80000 url("../images/bg-title.png") left bottom no-repeat;
  background-size: 7.5rem;
  padding: 1.875rem 0.9375rem;
  margin-bottom: 0.9375rem;
}
.title-art.type-02 {
  background: #d80000 url("../images/title-02.png") right bottom no-repeat;
  background-size: 7.5rem;
}

.title-md {
  font-size: 1.125rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.title-lg {
  font-size: 2.8125rem;
}

.text-headline h2 {
  font-size: 2.8125rem;
  font-weight: bold;
  color: #696B6B;
  margin-bottom: 1.875rem;
  text-align: center;
}

.real-estate-detail .text-headline h2 {
  text-align: left;
}

.title-g {
  font-size: 1.875rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  padding: 0.9375rem 1.5625rem;
  border-radius: 100px;
}

.box-title {
  color: #696B6B;
}

.title-red {
  background-color: #c52527;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-phome-number {
  background-color: #c52527;
  color: #fff;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-phome-number .fa-phone {
  font-size: 25px;
  margin-right: 10px;
}
.contact-phome-number .phone-detail {
  align-items: center;
}

.media-news {
  margin-bottom: 15px;
}
.media-news h5 {
  background-color: #dddddd;
  display: inline-block;
  padding: 0.3125rem 0.9375rem;
  color: #c52527;
  margin-bottom: 0.625rem;
  font-weight: 600;
}
.media-news.type-02 h5 {
  display: block;
  background-color: transparent;
  color: #696B6B;
  padding: 0;
  font-size: 20px;
}
.media-news.type-02 .d-flex {
  margin-top: 35px;
}

.box .list-infos li {
  display: flex;
  align-items: flex-start;
}
.box .list-infos li strong {
  display: flex;
}
.box .list-infos li span {
  flex: 1;
}

.block-video a {
  position: relative;
}
.block-video a:after {
  content: url("../images/s-ic-video_1.png");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
}

.box-content--float::after {
  content: "";
  display: block;
  clear: both;
}
.box-content--float .thumbnail {
  float: right;
  margin-left: 25px;
  margin-bottom: 10px;
  width: 60%;
}
.box-content--float .text {
  text-align: justify;
}
.box-content--float p + p {
  margin-top: 10px;
}

.template-15 .row > div:nth-child(2n+2) .box-content--float .thumbnail {
  float: left;
  margin-right: 25px;
  margin-left: 0;
}
.template-15 .row > div:not(:last-child) .box-content {
  padding-bottom: 30px;
  margin-bottom: 30px !important;
  position: relative;
}
.template-15 .row > div:not(:last-child) .box-content:after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: #c52527;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: 100%;
}

@media (max-width: 767px) {
  .mv-text .jumbotron h2 {
    font-size: 3.5rem;
  }
}
@media (max-width: 600px) {
  span.badge.badge-pill.py-3.px-5.bg-gradient.text-white {
    padding: 10px 15px !important;
    font-size: 12px;
  }

  .box-content--float .thumbnail {
    width: 50%;
  }
}
/*! CSS Used from: Embedded */
body {
  overflow-x: hidden;
}

#detail-project {
  /*! CSS Used from: https://dkra.vn/catalog/view/theme/default/css/desktop.css?v=1.0.2 */
}
#detail-project p {
  text-decoration: none;
  line-height: 1.6;
}
#detail-project div,
#detail-project h2,
#detail-project p {
  font-family: Arial, Helvetica, sans-serif;
}
#detail-project div,
#detail-project h2,
#detail-project p {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
#detail-project * {
  -webkit-font-smoothing: antialiased;
}
#detail-project *,
#detail-project ::after,
#detail-project ::before {
  box-sizing: border-box;
}
#detail-project :focus {
  outline: 0;
  border: none;
}
#detail-project p {
  font-weight: 400;
}
#detail-project h2 {
  font-weight: 400;
  line-height: 1.4;
}
#detail-project p {
  font-size: 16px;
  -webkit-text-size-adjust: none;
}
#detail-project ::-webkit-scrollbar {
  width: 10px;
}
#detail-project ::-webkit-scrollbar-track {
  background-color: transparent;
}
#detail-project ::-webkit-scrollbar-thumb {
  background-color: #888;
  cursor: pointer;
}
#detail-project ::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
@media screen and (max-width: 1100px) {
  #detail-project ::-webkit-scrollbar {
    width: 0;
  }
}
#detail-project .title-2,
#detail-project .title-2 h2 {
  text-align: center;
}
#detail-project .title-2 h2 {
  margin: 0 auto;
  max-width: 38%;
}
#detail-project .title-2 {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
}
#detail-project .title-2 {
  margin-bottom: 40px;
}
#detail-project .title-2:after,
#detail-project .title-2:before {
  content: " ";
  position: absolute;
  top: 50%;
  width: 30%;
  height: 1px;
  background-color: #666;
  left: 0;
}
#detail-project .title-2:before {
  left: auto;
  right: 0;
}
#detail-project .title-2 h2 {
  font-weight: 700;
  font-size: 35px !important;
  color: #666;
  text-transform: inherit;
}
#detail-project .title-b p,
#detail-project .title-d-1 {
  text-transform: uppercase;
}
#detail-project .title-d-1 {
  font-weight: 700;
}
#detail-project .title-b {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}
#detail-project .title-b {
  margin-bottom: 40px;
  height: auto;
}
#detail-project .title-b .title-2 {
  margin-bottom: 0;
}
#detail-project .title-d-1 {
  font-size: 13px;
}
#detail-project .project-content .title-2 h2 {
  margin: 0 auto;
  max-width: 38%;
}
#detail-project .slide-s {
  margin: 0 auto;
}
#detail-project .padding-main {
  padding: 60px 0;
}
#detail-project .pic-about-detial img {
  width: 100%;
  max-width: 100%;
}
#detail-project .col-num p {
  text-transform: uppercase;
}
#detail-project .col-num h3 {
  font-weight: 700;
}
#detail-project .num-detial {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
}
#detail-project .num-detial {
  margin: 30px 0;
}
#detail-project .col-num {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  height: auto;
  margin: 0 2%;
}
#detail-project .col-num svg {
  width: 80%;
  max-width: 80px;
  margin: auto auto 10px;
}
#detail-project .col-num h3 {
  font-size: 36px;
  color: #ed1c24;
}
#detail-project .col-num p {
  font-size: 14px;
}
#detail-project .slick-prev.slick-arrow {
  position: absolute;
  border: none;
  top: 50%;
  left: 0px;
  background: url(../images/icon/previous1.svg) center center/contain no-repeat;
  width: 80px;
  height: 80px;
  font-size: 0;
  z-index: 99;
}
#detail-project .slick-next.slick-arrow {
  position: absolute;
  border: none;
  top: 50%;
  right: 0px;
  background: url(../images/icon/next1.svg) center center/contain no-repeat;
  width: 80px;
  height: 90px;
  font-size: 0;
  z-index: 99;
}
#detail-project .p-content p {
  margin-bottom: 15px;
}
#detail-project .p-content p:last-child {
  margin-bottom: 0;
}
#detail-project .location-box {
  background-color: #eaeaea;
}
#detail-project .location-box,
#detail-project .location-pic,
#detail-project .location-txt {
  display: inline-block;
}
#detail-project .location-box {
  position: relative;
  height: auto;
  width: 100%;
}
#detail-project .location-pic {
  width: 60%;
  vertical-align: middle;
  height: auto;
}
#detail-project .location-pic img {
  width: 100%;
}
#detail-project .location-txt {
  width: 38%;
  vertical-align: middle;
  height: auto;
  padding: 30px;
}
#detail-project .pic-img {
  overflow: hidden;
}
#detail-project .pic-img,
#detail-project .pic-img img {
  height: auto;
  display: block;
  width: 100%;
  position: relative;
}
#detail-project .pic-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#detail-project .pic-img img {
  pointer-events: none;
}
#detail-project .item-project::before {
  pointer-events: none;
}
#detail-project .t-project h3,
#detail-project .title-pro {
  font-weight: 700;
  text-transform: inherit;
}
#detail-project .item-project::before,
#detail-project .project-section:before {
  left: 0;
  content: " ";
}
#detail-project .slider-project,
#detail-project .title-pro {
  margin-bottom: 30px;
}
#detail-project .slider-project {
  margin: 0 -5px;
}
#detail-project .slider-project .item {
  padding: 0 5px;
}
#detail-project .project-section {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 40px;
  color: #fff;
}
#detail-project .project-section:before {
  width: 100vw;
  background-color: #666;
  height: calc(100% - 150px);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
#detail-project .item-project {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}
#detail-project .more-plus,
#detail-project .t-project h3 {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
}
#detail-project .item-project::before,
#detail-project .item-project > a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
#detail-project .item-project::before {
  border: 0 solid #ed1c24;
  z-index: 1;
}
#detail-project .item-project > a {
  left: 0;
  z-index: 5;
}
#detail-project .t-project {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: calc(100% - 16px);
  z-index: 3;
}
#detail-project .t-project h3 {
  position: relative;
  background-color: #ed1c24;
  padding: 12px 20px;
  font-size: 15px;
  max-width: calc(100% - 55px);
  height: 45px;
}
#detail-project .t-project h3:before {
  content: " ";
  width: 5px;
  height: 100%;
  background-color: #666;
  position: absolute;
  top: 0;
  right: -5px;
}
#detail-project .more-plus {
  width: 45px;
  height: 45px;
  line-height: 45px;
  font-size: 30px;
  background-color: #ed1c24;
  text-align: center;
}
#detail-project .title-pro {
  font-size: 35px;
  text-align: center;
}
#detail-project .title-pro h2 {
  font-size: 35px !important;
}
@media screen and (max-width: 1100px) {
  #detail-project p {
    font-size: 15px;
  }
  #detail-project .title-2 h2 {
    font-size: 30px !important;
  }
  #detail-project .title-2:after,
#detail-project .title-2:before {
    width: 20%;
  }
  #detail-project .title-b {
    margin-bottom: 20px;
  }
  #detail-project .title-2 h2 {
    margin: 0 auto;
    max-width: 58%;
  }
}
@media screen and (max-width: 840px) {
  #detail-project .title-2 h2 {
    font-size: 25px !important;
  }
}
@media screen and (max-width: 540px) {
  #detail-project .title-2 {
    margin-bottom: 20px;
  }
  #detail-project .title-2 h2 {
    font-size: 18px !important;
  }
  #detail-project .title-2:after,
#detail-project .title-2:before {
    width: 10%;
  }
  #detail-project .project-content .title-2 h2 {
    margin: 0 auto;
    max-width: 78%;
  }
}
@media screen and (min-width: 1100px) {
  #detail-project .about-detial {
    opacity: 0;
  }
  #detail-project .animation--on.about-detial {
    -webkit-animation-name: scaleSmall;
            animation-name: scaleSmall;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@-webkit-keyframes scaleSmall {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes scaleSmall {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (min-width: 1100px) {
  #detail-project .title-2,
#detail-project .title-b {
    opacity: 0;
  }
  #detail-project .animation--on.title-2 {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #detail-project .animation--on.title-b {
    -webkit-animation-name: scaleSmall;
            animation-name: scaleSmall;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100px, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes scaleSmall {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media screen and (max-width: 1100px) {
  #detail-project p {
    font-size: 15px;
  }
  #detail-project .num-detial {
    margin: 20px 0;
  }
  #detail-project .col-num {
    width: 28%;
  }
  #detail-project .col-num h3 {
    font-size: 30px;
  }
}
@media screen and (max-width: 540px) {
  #detail-project .col-num p {
    font-size: 13px;
  }
  #detail-project .col-num svg {
    max-width: 50px;
  }
  #detail-project .col-num h3 {
    font-size: 20px;
  }
}
@media screen and (max-width: 1100px) {
  #detail-project p {
    font-size: 15px;
  }
  #detail-project .p-content p {
    margin-bottom: 15px;
  }
  #detail-project .location-txt {
    max-width: 700px;
  }
  #detail-project .location-pic {
    display: block;
    width: 100%;
    vertical-align: middle;
    height: auto;
  }
  #detail-project .location-txt {
    display: block;
    width: 90%;
    margin: -50px auto auto;
    background-color: #ed1c24;
    color: #fff;
    padding: 20px;
    position: relative;
    z-index: 4;
  }
}
@media screen and (min-width: 1100px) {
  #detail-project .location-pic,
#detail-project .location-txt {
    opacity: 0;
  }
  #detail-project .animation--on .location-pic,
#detail-project .animation--on .location-txt {
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #detail-project .animation--on .location-pic {
    -webkit-animation-name: goRight;
            animation-name: goRight;
  }
  #detail-project .animation--on .location-txt {
    -webkit-animation-name: goLeft;
            animation-name: goLeft;
  }
}
@-webkit-keyframes goRight {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes goRight {
  0% {
    opacity: 0;
    transform: translate3d(-50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes goLeft {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@keyframes goLeft {
  0% {
    opacity: 0;
    transform: translate3d(50%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
@media screen and (min-width: 1100px) {
  #detail-project .slide-s,
#detail-project .title-2 {
    opacity: 0;
  }
  #detail-project .animation--on.title-2 {
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #detail-project .animation--on.slide-s {
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  #detail-project .animation--on.slide-s {
    -webkit-animation-name: scaleSmall;
            animation-name: scaleSmall;
  }
}
@media screen and (max-width: 1100px) {
  #detail-project .slider-project,
#detail-project .title-pro {
    margin-bottom: 20px;
  }
  #detail-project .project-section {
    padding-top: 20px;
  }
  #detail-project .t-project h3 {
    padding: 11px 15px;
    font-size: 13px;
    max-width: 80%;
  }
  #detail-project .more-plus {
    width: 41px;
    height: 41px;
    line-height: 45px;
    font-size: 30px;
  }
  #detail-project .title-pro {
    font-size: 24px;
    line-height: 1.4;
  }
  #detail-project .title-pro h2 {
    font-size: 35px !important;
  }
}
@media screen and (max-width: 840px) {
  #detail-project .slide-buttons {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  #detail-project .more-plus {
    width: 41px;
    height: 41px;
    font-size: 20px;
  }
  #detail-project .title-pro {
    font-size: 17px;
  }
  #detail-project .title-pro h2 {
    font-size: 17px !important;
  }
}
@media print {
  #detail-project .slide-buttons,
#detail-project .slide-pagination {
    display: none;
  }
}
#detail-project :-webkit-full-screen {
  background-color: #fff !important;
  position: fixed !important;
  left: 0;
  top: 0;
  z-index: 2147483647 !important;
}
@media screen and (min-width: 1100px) {
  #detail-project .item-project {
    cursor: pointer;
  }
  #detail-project .pic-img {
    transition: all 0.5s ease-in-out;
  }
  #detail-project .item-project .t-project,
#detail-project .item-project::before,
#detail-project .pic-project {
    transition: all 0.3s ease-in-out;
  }
  #detail-project .item-project:hover::before {
    border-width: 8px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  #detail-project .item-project:hover .pic-project {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }
  #detail-project .item-project:hover .t-project {
    bottom: 8px;
    left: 8px;
  }
}
@media screen and (min-width: 1100px) {
  #detail-project .item-project,
#detail-project .title-pro {
    opacity: 0;
  }
  #detail-project .animation--on .item-project,
#detail-project .animation--on.title-pro {
    -webkit-animation-name: scaleSmall;
            animation-name: scaleSmall;
    -webkit-animation-duration: 0.8s;
            animation-duration: 0.8s;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@keyframes scaleSmall {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@media (max-width: 767px) {
  #detail-project .t-project > a {
    display: none !important;
  }
  #detail-project .t-project h3 {
    width: 100%;
    max-width: 100%;
  }
  #detail-project .t-project h3:before {
    content: none;
  }
  #detail-project .padding-main {
    padding: 30px 0;
  }
}
#detail-project .animatiom--on {
  opacity: 1;
}

@media (max-width: 1600px) {
  .container {
    max-width: 100rem;
  }
}
@media (max-width: 1250px) {
  .area-slider .swiper-button-prev-02 {
    left: 1.25rem;
    top: 16%;
  }

  .area-slider .swiper-button-next-02 {
    right: 1.25rem;
    top: 16%;
  }
}
@media (max-width: 767px) {
  .footer_bottom {
    text-align: left;
  }

  .c-list-active {
    max-width: 100%;
    width: 100%;
  }
  .c-list-active .c-actice {
    transform: scale(0.8);
  }

  .col-md-5.pr-0 {
    padding-right: 15px !important;
  }

  .swiper-container {
    padding-bottom: 0;
  }

  .pagination-01 {
    padding: 2rem 0;
  }
  .pagination-01 .page-link {
    width: 28px;
    height: 28px;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    padding: 0;
    margin: 0 5px;
    background-color: #ddd !important;
  }
  .pagination-01 .page-link:hover, .pagination-01 .page-link.active {
    background-color: #c52527 !important;
    color: #ffffff;
  }
  .pagination-01 .page-link.page-next, .pagination-01 .page-link.page-prev {
    background-color: transparent !important;
  }

  .page-item.active .page-link,
.page-item:hover .page-link {
    font-size: 15px;
  }

  .pagination-01 .page-link:after {
    content: none;
  }

  p {
    font-size: 14px;
  }

  .slider03 {
    position: relative;
    padding-bottom: 30px;
    background: #6d1d1d;
    background: linear-gradient(90deg, #6d1d1d 0, #c52527 44%, #cc3233 100%);
  }
  .slider03 .title {
    font-size: 15px;
  }
  .slider03 .gallery-top {
    margin-bottom: 10px;
  }
  .slider03 .gallery-thumbs {
    width: calc(100% - 18px);
    margin: 0 auto;
  }

  .media-02 .thumbnail {
    padding-left: 0;
    width: 33%;
    border-radius: 7px;
    overflow: hidden;
    margin-left: 15px;
  }

  .media-02 .media-body h5 {
    font-size: 18px;
  }

  .section-s7lock01 {
    padding-top: 0;
  }

  .media-02 + .media {
    margin-top: 2rem;
  }

  .text-headline h2 {
    font-size: 2rem;
  }

  .section-03 {
    padding-top: 15px;
  }
  .section-03 .row > div {
    margin-bottom: 30px;
  }
  .section-03 .card-02 .card-title {
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
  }
  .section-03 .card-02 .card-img-top {
    margin-bottom: 0;
  }
  .section-03 .card-02 .card-body {
    padding-bottom: 2rem;
  }
}