.img-fluid {
  width: 100%;
}
.image-cover {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  .img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100% !important;
    height: 100% !important;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
  }
  &.image-cover--1x1 {
    padding-bottom: 100%;
  }
  &.image-cover--cycle {
    border-radius: 50%;
  }
  &.image-cover--16x9 {
    padding-bottom: 56.25%;
  }
  &.image-cover--4x3 {
    padding-bottom: 76%;
  }
  &.image-cover--100h {
    height: 100%;
  }
  &--contain {
    background: #f1f1f1;
    .img {
      object-fit: contain;
      object-position: center;
    }
  }
  
  &--contain-h {
    .img {
      height: auto;
    }
  }
}
