// Color palette
$color_base : #696B6B;
$color_black : #000000;
$color_white : #ffffff;
$color_primary : #ae8ecc;
$color_pink : #ff2c55;
$color_yellow : #fff57e;
$color_teal : #65dac3;
$color_green : #a4bf6e;
$color_gray : #dddddd;
$color_gray_01 : #F5F0F0;
$color_gray_02 : #58595A;
$color_gray_03 : #C7C7C7;
$color_gray_04 : #F2F2F2;
$color_red : #ef5350;
$color_blue : #00A2DC;
$color_blue_1 : #daeef4;
$color_blue_2 : #daeef4;
$color_blue_3 : #4169E1;
$color_brown : #5f4546;
$color_orange : #ebbb72;
$color_orange_1 : #ded2c8;
$color_red : rgba(197,37,39,1);