// Font family
$font_base: 'Montserrat', sans-serif;
// Font size (px)
$r73: 0.73;
$base_font_size: 16;
$font_size_h1: 36px;
$font_size_h2: 28px;
$font_size_h3: 18px;
$font_size_h4: 16px;
$font_size_h5: 14px;
$base_font_size_sp: 16px;
$font_size_h1_sp: 36px;
$font_size_h2_sp: 28px;
$font_size_h3_sp: 18px;
$font_size_h4_sp: 16px;
$font_size_h5_sp: 14px;
$base_line_height: 26px;
$base_line_height_sp: 24px;
$opacity_base: 0.5;
$base_letter-spacing: 1.4;
// Border radius
$base_radius: 15px;
// Size content
$width_xs: 350px;
$width_small: 800px;
$pc_width_max: 1100px;