body {
    color: $color_base;
    font-family: $font_base;
    font-size: 15px;

}
main {
    min-height: 50vh;
}
.sp {
    display: none !important;
}
a {
    color: $color_base;
    &:hover {
        text-decoration: none;
    color: $color_base;

    }
}
@include bp('sp') {
    .sp {
        display: block !important;
    }
    .pc {
        display: none !important;
    }
    body {
        background: none !important;
    }
}
.bg-gradient {    
    background: rgb(109,29,29);
    background: linear-gradient(90deg, rgba(109,29,29,1) 0%, rgba(197,37,39,1) 44%, rgba(204,50,51,1) 100%);
}