<div class="section section-04 bg-gradient-vertical">
    <div class="container">
        <div class="block-title type-01">
            <div class="title-img animation m-auto">
                <img class="img-fluid" src="/themes/taotinphat/assets/images/title-01.png" alt="">
            </div>
        </div>
        <div class="section-inner">
            <article>
                <div class="text-center text-white animation">
                    <h2>THÔNG ĐIỆP CHỦ TỊCH HỘI ĐỒNG QUẢN TRỊ</h2>
                    <br>
                    <p>Tháng 5/2017 thương hiệu Tạo Tín Phát chính thức có mặt trên thị truờng bất động sản Việt Nam. Trong quá trình hình thành và phát triển, Tạo Tín Phát luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất.</p>
                    <br>
                    <p> Với tiềm lực mạnh về tài chính, vững vàng về kinh nghiệm, cùng đội ngũ cán bộ nhân viên được đào tạo chuyên nghiệp, nhiệt tình,năng động, sáng tạo và làm việc hiệu quả, Tạo Tín Phát đã nỗ lực không ngừng trong mọi hoàn cảnh để khẳng định và nâng cao vị thế của mình trên thị trường bất động sản Việt Nam, giữ vững niềm tin trong tâm trí khách hàng và đối tác. </p>
                    <br>
                    <p>Tự tin với sức mạnh của ba mũi nhọn là Ðầu tư – Xây dựng – Dịch vụ, Tạo Tín Phát đã và đang khẳng định vị thế là Nhà cung cấp giải pháp bất động sản toàn diện nhằm tạo lập cuộc sống ưu việt cho khách hàng.</p>
                    <br>
                    <p>Với chiến lược đa ngành nghề, đa sở hữu và đa quốc gia, Tạo Tín Phát chủ trương liên doanh, liên kết, hợp tác với các tổ chức Tài chính, Ngân hàng, Công nghệ, Nhân lực…nhằm tối ưu hóa lợi thế cạnh tranh trên thị trường. Tạo Tín Phát là một trong những doanh nghiệp có được nét văn hóa riêng, tạo được môi trường lý tưởng cho mọi người phát triển sự nghiệp trong lĩnh vực bất động sản, đồng thời đề cao mục tiêu phát triển doanh nghiệp gắn với sự phát triển xã hội, luôn có những hành động thiết thực chung tay vì một cộng đồng bền vững và nhân ái.</p>
                    <br>
                    <p>Với thế và lực sẵn có cùng sự quyết tâm không ngừng, chúng tôi tin rằng Tạo Tín Phát có đủ cơ sở để đạt được những mục tiêu chiến lược đã đề ra. Tạo Tín Phát sẽ trở thành một trong những tập đoàn kinh tế hàng đầu Việt Nam và vươn ra thế giới trong một tương lai gần nhất</p>
                </div>
            </article>
            <div class="row">
                <div class="col-md-4 col-sm-6 animation">
                    <div class="card card-03">
                        <div class="card-img-top box-shadown">
                            <div class="thumbnail">
                                <div class="image-cover image-cover--4x3">
                                    <img src="/themes/taotinphat/assets/images/4x3.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-title"><span>Tầm Nhìn</span></div>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <a class="btn gradien-red btn-shadown" href="#!" role="button">Start now</a>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at justo bibendum, ultricies lectus non, imperdiet ipsum. Mauris fringilla felis ac velit faucibus iaculis. Nullam ante dolor, aliquam at gravida ut, gravida ut quam. Sed euismod dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animation">
                    <div class="card card-03">
                        <div class="card-img-top box-shadown">
                            <div class="thumbnail">
                                <div class="image-cover image-cover--4x3">
                                    <img src="/themes/taotinphat/assets/images/4x3.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-title"><span>Sứ Mệnh</span></div>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <a class="btn gradien-red btn-shadown" href="#!" role="button">Start now</a>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at justo bibendum, ultricies lectus non, imperdiet ipsum. Mauris fringilla felis ac velit faucibus iaculis. Nullam ante dolor, aliquam at gravida ut, gravida ut quam. Sed euismod dolor.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 animation">
                    <div class="card card-03">
                        <div class="card-img-top box-shadown">
                            <div class="thumbnail">
                                <div class="image-cover image-cover--4x3">
                                    <img src="/themes/taotinphat/assets/images/4x3.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-title"><span>Giá Trị cốt lõi</span></div>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <a class="btn gradien-red btn-shadown" href="#!" role="button">Start now</a>
                            </div>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at justo bibendum, ultricies lectus non, imperdiet ipsum. Mauris fringilla felis ac velit faucibus iaculis. Nullam ante dolor, aliquam at gravida ut, gravida ut quam. Sed euismod dolor.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-05 bg-white">
    <div class="container">
        <div class="block-title type-01">
            <div class="title-img-02 animation m-auto">
                <img class="img-fluid" src="/themes/taotinphat/assets/images/title-03.png" alt="">
            </div>
        </div>
        <div class="section-inner">
            <article>
                <div class="text-center">
                    <h2>THÔNG ĐIỆP CHỦ TỊCH HỘI ĐỒNG QUẢN TRỊ</h2>
                    <br>
                    <p>Tháng 5/2017 thương hiệu Tạo Tín Phát chính thức có mặt trên thị truờng bất động sản Việt Nam. Trong quá trình hình thành và phát triển, Tạo Tín Phát luôn vững vàng với mục tiêu mang lại cho khách hàng những sản phẩm bất động sản tốt nhất bằng dịch vụ chuyên nghiệp nhất.</p>
                    <p>Với tiềm lực mạnh về tài chính, vững vàng về kinh nghiệm, cùng đội ngũ cán bộ nhân viên được đào tạo chuyên nghiệp, nhiệt tình,năng động, sáng tạo và làm việc</p>
                </div>
            </article>
        </div>
    </div>
</div>


<div class="section animation">
    <div class="dash-slogan">
        <h5>Tạo chữ tín, Vạn niềm tin</h5>
    </div>
</div>

<div class="section animation section-s3-01">
    <div class="thumbnail text-center">
        <img class="img-fluid" src="/themes/taotinphat/assets/images/img-gt-02.jpg" alt="">
    </div>
    <div class="block-button text-center">
        <em class="ic-arrow-triang"></em>
        <a class="btn gradien-red btn-shadown btn-default" href="#!" role="button">Xem tất cả</a>
    </div>
</div>
