<div class="row">
    <div class="col-md-4 col-sm-6 animation">
        <div class="card card-03">
            <div class="card-img-top box-shadown">
                <div class="thumbnail">
                    <div class="image-cover image-cover--16x9">
                        <img src="/themes/taotinphat/assets/images/du-an-01.jpg" alt="" class="img">
                    </div>
                </div>
                <div class="card-title"><span>Tầm Nhìn</span></div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <a class="btn gradien-red btn-shadown" href="#!" role="button">Start now</a>
                </div>
                <p class="card-text trimText clamp5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at justo bibendum, ultricies lectus non, imperdiet ipsum. Mauris fringilla felis ac velit faucibus iaculis. Nullam ante dolor, aliquam at gravida ut, gravida ut quam. Sed euismod dolor.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 animation">
        <div class="card card-03">
            <div class="card-img-top box-shadown">
                <div class="thumbnail">
                    <div class="image-cover image-cover--16x9">
                        <img src="/themes/taotinphat/assets/images/du-an-02.jpg" alt="" class="img">
                    </div>
                </div>
                <div class="card-title"><span>Sứ Mệnh</span></div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <a class="btn gradien-red btn-shadown" href="#!" role="button">Start now</a>
                </div>
                <p class="card-text trimText clamp5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at justo bibendum, ultricies lectus non, imperdiet ipsum. Mauris fringilla felis ac velit faucibus iaculis. Nullam ante dolor, aliquam at gravida ut, gravida ut quam. Sed euismod dolor.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 animation">
        <div class="card card-03">
            <div class="card-img-top box-shadown">
                <div class="thumbnail">
                    <div class="image-cover image-cover--16x9">
                        <img src="/themes/taotinphat/assets/images/du-an-03.jpg" alt="" class="img">
                    </div>
                </div>
                <div class="card-title"><span>Giá Trị cốt lõi</span></div>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <a class="btn gradien-red btn-shadown" href="#!" role="button">Start now</a>
                </div>
                <p class="card-text trimText clamp5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at justo bibendum, ultricies lectus non, imperdiet ipsum. Mauris fringilla felis ac velit faucibus iaculis. Nullam ante dolor, aliquam at gravida ut, gravida ut quam. Sed euismod dolor.</p>
            </div>
        </div>
    </div>
</div>
