.animation {
  opacity: 0;
}
@-webkit-keyframes scrollOn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes scrollOn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes scrollOff {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
@keyframes scrollOff {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(50%);
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    transform: translateX(0);
  }
  56% {
    transform: translateX(8px);
  }
}
@keyframes bounce {
  0%,
  to {
    transform: translateX(0);
  }
  56% {
    transform: translateX(8px);
  }
}
.animation--on {
  -webkit-animation: scrollOn 0.5s ease-in-out forwards;
  animation: scrollOn 0.5s ease-in-out forwards;
}
.animation-delay .animation:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.animation-delay .animation:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.animation-delay .animation:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.animation-delay .animation:nth-child(5) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.animation-delay .animation:nth-child(6) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.animation-delay .animation:nth-child(7) {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

@keyframes scrollShowHeader {
  0% {
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}